/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

a:hover, a:focus {
  text-decoration: none;
}

img.bg {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.flex_center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.flex_beween {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.hidden_tab {
  opacity: 0;
  height: 0;
  visibility: hidden;
}

.hidden_tab > * {
  height: 0;
  overflow: hidden;
  z-index: 0;
  visibility: hidden;
}

.show_tab {
  opacity: 1;
  height: auto;
  z-index: 90;
  transform: translateY(0);
  transition: 0.6s;
  visibility: visible;
}

.show_tab > * {
  height: auto;
  z-index: 9;
  visibility: visible;
}

/*popup*/
.popup-giftcode, .popup-video {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-1000px);
  z-index: 999;
}

.open_popup.popup-giftcode, .open_popup.popup-video {
  transition: all .4s linear 0s;
}

.popup-giftcode {
  width: 500px;
  padding: 15px;
  background: #fff;
}

.popup-giftcode h4 {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  font: 26px Tahoma;
  color: #179526;
  text-transform: uppercase;
}

.popup-giftcode p {
  display: block;
  text-align: center;
  font: 18px Tahoma;
}

.popup-giftcode p span {
  color: #c00;
}

.popup-video {
  width: 800px;
  height: 460px;
  background: #000;
}

.popup-video iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .popup-video {
    width: 94%;
    height: 60%;
  }
}

@media (orientation: landscape) {
  .popup-video {
    width: 100%;
    height: 100%;
  }
}

.modal-popup {
  display: none;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99;
}

.modal-popup.open_popup {
  display: block;
}

a.close_popup {
  position: absolute;
  top: 0;
  right: 0;
  background: #c00;
  padding: 4px;
  font-size: 16px;
  color: #fff;
}

.open_popup {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(-50%);
}

footer {
  margin-top: -1px;
  background: #f4f7fc;
  padding: 10px 0;
  color: #000;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  position: relative;
}

footer .fixCen {
  width: 1000px;
  margin: 0 auto;
}

footer img.limit {
  right: 0;
  top: 0;
  position: absolute;
}

footer a {
  color: #2f6f9f;
}

footer a.shg {
  display: block;
  background: url(https://sohagame.mediacdn.vn/project/m/sg148/pc/images/home/logo-soha.png) no-repeat;
  width: 157px;
  height: 35px;
  position: absolute;
  top: 25px;
  left: 0;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@keyframes flash {
  0% {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50% {
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100% {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}

@-webkit-keyframes flash {
  0% {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50% {
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100% {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}

.flash {
  animation-name: flash;
  -webkit-animation-name: flash;
}

@keyframes rotate {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  to {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate;
  -webkit-animation-name: rotate;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.14, 1.14, 1.14);
    transform: scale3d(1.14, 1.14, 1.14);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.14, 1.14, 1.14);
    transform: scale3d(1.14, 1.14, 1.14);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

main .inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

main .logo {
  display: block;
  width: 12%;
  margin: 3% 0 0 23%;
}

main .download {
  display: block;
  width: 15%;
  margin: 29% auto 0;
}
