/*!
 * project_shg
 * 
 * 
 * @author Thuclfc
 * @version 2.0.0
 * Copyright 2020. MIT licensed.
 *//*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

a:hover, a:focus {
  text-decoration: none;
}

img.bg {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.flex_center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex_beween {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hidden_tab {
  opacity: 0;
  height: 0;
  visibility: hidden;
}

.hidden_tab > * {
  height: 0;
  overflow: hidden;
  z-index: 0;
  visibility: hidden;
}

.show_tab {
  opacity: 1;
  height: auto;
  z-index: 90;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
  visibility: visible;
}

.show_tab > * {
  height: auto;
  z-index: 9;
  visibility: visible;
}

/*popup*/
.popup-giftcode, .popup-video {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-1000px);
  -moz-transform: translateX(-50%) translateY(-1000px);
  -ms-transform: translateX(-50%) translateY(-1000px);
  -o-transform: translateX(-50%) translateY(-1000px);
  transform: translateX(-50%) translateY(-1000px);
  z-index: 999;
}

.open_popup.popup-giftcode, .open_popup.popup-video {
  -webkit-transition: all .4s linear 0s;
  -o-transition: all .4s linear 0s;
  -moz-transition: all .4s linear 0s;
  transition: all .4s linear 0s;
}

.popup-giftcode {
  width: 500px;
  padding: 15px;
  background: #fff;
}

.popup-giftcode h4 {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  font: 26px Tahoma;
  color: #179526;
  text-transform: uppercase;
}

.popup-giftcode p {
  display: block;
  text-align: center;
  font: 18px Tahoma;
}

.popup-giftcode p span {
  color: #c00;
}

.popup-video {
  width: 800px;
  height: 460px;
  background: #000;
}

.popup-video iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .popup-video {
    width: 94%;
    height: 60%;
  }
}

@media (orientation: landscape) {
  .popup-video {
    width: 100%;
    height: 100%;
  }
}

.modal-popup {
  display: none;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99;
}

.modal-popup.open_popup {
  display: block;
}

a.close_popup {
  position: absolute;
  top: 0;
  right: 0;
  background: #c00;
  padding: 4px;
  font-size: 16px;
  color: #fff;
}

.open_popup {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

footer {
  margin-top: -1px;
  background: #f4f7fc;
  padding: 10px 0;
  color: #000;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  position: relative;
}

footer .fixCen {
  width: 1000px;
  margin: 0 auto;
}

footer img.limit {
  right: 0;
  top: 0;
  position: absolute;
}

footer a {
  color: #2f6f9f;
}

footer a.shg {
  display: block;
  background: url(https://sohagame.mediacdn.vn/project/m/sg148/pc/images/home/logo-soha.png) no-repeat;
  width: 157px;
  height: 35px;
  position: absolute;
  top: 25px;
  left: 0;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-moz-keyframes flash {
  0% {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50% {
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100% {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}

@-o-keyframes flash {
  0% {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50% {
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100% {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}

@keyframes flash {
  0% {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50% {
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100% {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}

@-webkit-keyframes flash {
  0% {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50% {
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100% {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}

.flash {
  -moz-animation-name: flash;
  -o-animation-name: flash;
  animation-name: flash;
  -webkit-animation-name: flash;
}

@-moz-keyframes rotate {
  to {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  from {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes rotate {
  to {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  from {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotate {
  -webkit-animation: rotate;
  -moz-animation: rotate;
  -o-animation: rotate;
  animation: rotate;
  -webkit-animation-name: rotate;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.14, 1.14, 1.14);
    transform: scale3d(1.14, 1.14, 1.14);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-moz-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.14, 1.14, 1.14);
    -moz-transform: scale3d(1.14, 1.14, 1.14);
    transform: scale3d(1.14, 1.14, 1.14);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-o-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.14, 1.14, 1.14);
    transform: scale3d(1.14, 1.14, 1.14);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.14, 1.14, 1.14);
    -moz-transform: scale3d(1.14, 1.14, 1.14);
    transform: scale3d(1.14, 1.14, 1.14);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -o-animation-name: pulse;
  animation-name: pulse;
}

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}


:root {
  --gray: #868686;
  --gray1: #959595;
  --green: #5dc975;
  --grayis: #292929;
  --size17: 17.54px;
  --lh24: 24px;
}

@font-face {
  font-family: BrandonText-Regular1;
  src: url("../fonts/BrandonText-Regular.ttf");
}

@font-face {
  font-family: BrandonText-Regular;
  src: url("../fonts/BrandonText-Regular.otf");
}

@font-face {
  font-family: BrandonText-Medium;
  src: url('../fonts/BrandonText-Medium.otf');
}

@font-face {
  font-family: BrandonText-Bold;
  src: url('../fonts/BrandonText-Bold.otf');
}

body {
  background: #fff;
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
}
body.is-f{font-family: 'Exo 2', sans-serif;}

a {
  font-size: 16px;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.icon {
  display: inline-block;
  background: url("../img/website/icons.png") no-repeat 0 0;
}

.navbar {
  padding: 0 2.7604166667vw;
  background: #f7f8f8;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.navbar .search {
  margin-bottom: 0;
  margin-left: 3.3854166667vw;
}

.navbar .search input {
  width: 254px;
  height: 35px;
  padding: 0 15px 0 45px;
  background: #f1f1f1 url("../img/website/icon-search.png") no-repeat 18px center;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
  border: none;
  color: #959595;
}

.navbar .search input::-webkit-input-placeholder {
  color: #959595;
}

.navbar .search input::-moz-placeholder {
  color: #959595;
}

.navbar .search input:-ms-input-placeholder {
  color: #959595;
}

.navbar .search input::placeholder {
  color: #959595;
}

.navbar .search input:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar .login {
  margin-left: auto;
}

.navbar .login_before a {
  font-size: var(--size17);
  font-family: BrandonText-Regular, Sans-Serif;
  color: #868686;
  text-transform: uppercase;
}

.navbar .login_before a:hover {
  color: var(--green);
}

.navbar .user {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar .user_avatar {
  margin-right: 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.navbar .user .name {
  display: block;
  color: var(--green);
  font-size: var(--size17);
  line-height: 1;
}

.navbar .user .id {
  color: var(--gray1);
}

.navbar .dropdown-menu {
  min-width: 196px;
  padding: 22px;
  background: #f1f1f1;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  top: 67px;
}

.navbar .dropdown-menu a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: var(--size17);
  color: #3f3f3f;
  line-height: 1.36;
}

.navbar .dropdown-menu a:hover {
  color: var(--green);
}

.navbar .dropdown-menu > * + * {
  margin-top: 12px;
}

.navbar .dropdown-menu .icon {
  margin-right: 8px;
}

.navbar .dropdown-menu .icon-coin {
  width: 23px;
  height: 23px;
  background-position: -1px 0;
}

.navbar .dropdown-menu .icon-update {
  width: 25px;
  height: 23px;
  background-position: -25px -36px;
}

.navbar .dropdown-menu .icon-protection {
  width: 20px;
  height: 22px;
  background-position: -25px -73px;
}

.navbar .dropdown-menu .icon-error {
  width: 19px;
  height: 15px;
  background-position: -24px -110px;
}

.navbar .dropdown-menu .icon-logout {
  width: 20px;
  height: 20px;
  background-position: -28px -145px;
}

.navbar .dropdown-menu li:hover .icon-update {
  background-position: 0 -36px;
}

.navbar .dropdown-menu li:hover .icon-protection {
  background-position: -3px -73px;
}

.navbar .dropdown-menu li:hover .icon-error {
  background-position: -3px -110px;
}

.navbar .dropdown-menu li:hover .icon-logout {
  background-position: -4px -145px;
}

.menu {
  margin-left: 3.90625vw;
}

.menu > li {
  padding: 41px 0 33px;
}

.menu > li > a {
  display: block;
  color: var(--gray);
  text-transform: uppercase;
  font: 18px BrandonText-Regular, sans-serif;
  position: relative;
}

.menu > li:hover > a {
  color: var(--grayis);
}

.menu > li > a:after {
  content: "";
  width: 0;
  height: 2px;
  background: #4dc669;
  position: absolute;
  left: -10px;
  bottom: -2px;
  -webkit-transition: width .5s linear;
  -o-transition: width .5s linear;
  -moz-transition: width .5s linear;
  transition: width .5s linear;
}

.menu li:hover > a:after, .menu a.active:after {
  width: 85%;
}

.menu > li > a.active {
  color: var(--grayis);
}

.menu > * + * {
  margin-left: 50px;
}

.menu > li:last-child{padding-top: 39px;}

.menu li:last-child > a {
  color: var(--green);
  font-family: BrandonText-Medium, Sans-Serif;
}

.menu li:hover .game_top {
  opacity: 1;
  height: 281px;
}

.menu .icon-vip {
  width: 21px;
  height: 15px;
  background-position: -26px -2px;
}

.game_top {
  width: 100%;
  background: rgba(77, 198, 105, 0.97);
  position: absolute;
  left: 0;
  top: 97px;
  height: 0;
  -webkit-transition: height .3s linear;
  -o-transition: height .3s linear;
  -moz-transition: height .3s linear;
  transition: height .3s linear;
  overflow: hidden;
  z-index: 9;
}

.game_top .game_list {
  margin: 38px 0 20px;
}

.game_top .slick-slide a:focus{outline: none;}

.game_top .game_list li {
  display: inline-block;
  position: relative;
}

.game_top .game_list li:hover .img-box:after {
  opacity: 1;
}

.game_top .game_list li:hover .play {
  opacity: 1;
}

.game_top .game_list li:hover .play:before {
  width: 66px;
}

.game_top .game_list .img-box {
  width: 120px;
  position: relative;
}

.game_top .game_list .img-box:after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  -moz-transition: all .6s ease;
  transition: all .6s ease;
}

.game_top .game_list img {
  width: 120px;
  height: 180px;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

.game_top .game_list span {
  color: #fff;
}

.game_top .game_list .name {
  display: block;
  margin-top: 10px;
  max-width: 120px;
  text-transform: capitalize;
  font: 16px BrandonText-Regular, sans-serif;
  line-height: 1.2;
}

.game_top .game_list .play {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 80px;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  -moz-transition: all .6s ease;
  transition: all .6s ease;
}

.game_top .game_list .play:before {
  content: "";
  height: 3px;
  width: 0;
  background: var(--green);
  position: absolute;
  bottom: 2px;
  left: -5px;
  z-index: -1;
  -webkit-transition: width .5s linear .3s;
  -o-transition: width .5s linear .3s;
  -moz-transition: width .5s linear .3s;
  transition: width .5s linear .3s;
}

.game_top .slick-arrow {
  width: 12px;
  height: 23px;
  top: 45%;
  background: url("../img/website/icons.png") no-repeat -52px -2px;
  opacity: .7;
}

.game_top .slick-arrow:hover {
  opacity: 1;
}

.game_top .slick-next {
  right: -34px;
}

.game_top .slick-prev {
  left: -50px;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.game_slider{
  height: 47.5vw;
  overflow: hidden;
}
.game_slider .slick-slide:nth-child(1) .content{z-index: 9;}

.game_slider .content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.game_slider .iconapp {
  width: 114px;
  display: block;
  margin-right: 8px;
}
.game_slider .img-large{width: 100%; }
.game_slider img{transition: all 1s linear;}

.game_slider .download a {
  width: 182px;
  height: 53px;
  display: block;
  text-indent: -9999em;
}

.game_slider .download > * + * {
  margin-top: 6px;
}

.game_slider .download .appstore {
  background: url("../img/website/appstore.png") no-repeat 0 0/contain;
}

.game_slider .download .googleplay {
  background: url("../img/website/googleplay.png") no-repeat 0 0/contain;
}

.game_slider .game_info {
  width: 565px;
  height: 202px;
  padding: 15px 0 10px 50px;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  bottom: 22px;
}

.game_slider .game_info:after {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 202px solid rgba(0, 0, 0, 0.7);
  border-right: 135px solid transparent;
  position: absolute;
  top: 0;
  right: -135px;
}

.game_slider .game_info .game_name {
  text-transform: uppercase;
  font: 39px BrandonText-Regular, sans-serif;
  color: #4dc669;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.game_slider .game_info .des {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #9a9a9e;
  font-size: var(--size17);
}

.game_slider .btn_play {
  width: 240px;
  height: 60px;
  padding: 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--green);
  -webkit-transform: skew(33deg);
  -moz-transform: skew(33deg);
  -ms-transform: skew(33deg);
  -o-transform: skew(33deg);
  transform: skew(33deg);
  position: absolute;
  bottom: 0;
  right: -270px;
  z-index: 2;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  overflow: hidden;
}

.game_slider .btn_play:hover:after {
  opacity: 1;
  -webkit-transform: rotate(45deg) scale(6);
  -moz-transform: rotate(45deg) scale(6);
  -ms-transform: rotate(45deg) scale(6);
  -o-transform: rotate(45deg) scale(6);
  transform: rotate(45deg) scale(6);
}

.game_slider .btn_play:after {
  content: "";
  width: 100%;
  height: 100%;
  background: #0abe4e;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(45deg) scale(1);
  -moz-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  -o-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  -webkit-transition: all 0.25s linear 0s;
  -o-transition: all 0.25s linear 0s;
  -moz-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
  opacity: 0;
}

.game_slider .btn_play span:after {
  content: "";
  width: 62px;
  height: 8px;
  display: block;
  margin-left: 20px;
  background: url("../img/website/arr.png") no-repeat 0 0/contain;
}

.game_slider .btn_play span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transform: skew(-33deg);
  -moz-transform: skew(-33deg);
  -ms-transform: skew(-33deg);
  -o-transform: skew(-33deg);
  transform: skew(-33deg);
  position: relative;
  z-index: 2;
}

.game_slider .box-download {
  position: absolute;
  left: 50px;
  bottom: 235px;
}

.game_slider .slick-arrow {
  width: 66px;
  height: 66px;
  top: 45%;
  background: url("../img/website/arr2.png") no-repeat;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  -moz-transition: .3s linear;
  transition: .3s linear;
}

.game_slider .slick-arrow:hover {
  height: 67px;
  background: url("../img/website/arr1.png") no-repeat;
}

.game_slider .slick-next {
  right: 52px;
}

.game_slider .slick-prev {
  left: 52px;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.topgame {
  height: 375px;
  margin-top: 45px;
  padding: 0 100px;
  overflow: hidden;
}
.topgame_list{opacity: 0; transition: all .5s ease;}

.topgame h2.title {
  margin-bottom: 60px;
}

.topgame li {
  display: block;
  padding: 0 15px;
  text-align: center;
  position: relative;
}

.topgame li:hover a {
  color: var(--green);
}

.topgame .game_name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 56px;
  margin: 10px 0 5px;
  font: 20px BrandonText-Bold, Sans-Serif;
  text-transform: uppercase;
}

.topgame .game_img {
  display: block;
  max-width: 196px;
  margin: 0 auto;
  position: relative;
}
.topgame .game_img img{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.topgame .number_play {
  font-size: 15px;
  color: #6e6e6e;
}

.topgame .number_play .icon {
  width: 11px;
  height: 15px;
  margin-right: 4px;
  background-position: -67px -1px;
}

.topgame a {
  color: var(--grayis);
  font-size: 20px;
  -webkit-transition: .25s;
  -o-transition: .25s;
  -moz-transition: .25s;
  transition: .25s;
}

.topgame a:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.topgame .slick-arrow {
  width: 31px;
  height: 59px;
  top: 35%;
  background: url("../img/website/icons.png") no-repeat -1px -167px;
}

.topgame .slick-next {
  right: -50px;
}

.topgame .slick-prev {
  left: -50px;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.newgame {
  margin-top: 90px;
}

.newgame h2.title {
  margin-bottom: 66px;
}

.newgame .content {
  padding: 25px 18px;
  border: 1px solid #d2d2d2;
}

.newgame .item {
  width: 20%;
  -webkit-transition: margin-top .35s linear;
  -o-transition: margin-top .35s linear;
  -moz-transition: margin-top .35s linear;
  transition: margin-top .35s linear;
  position: relative;
}

.newgame .item:after {
  content: "";
  width: 100%;
  height: 0;
  opacity: 0;
  display: block;
  background: #4dc669;
  position: absolute; bottom: 0;
}

.newgame .item:hover {
  margin-top: -32px;
}

.newgame .item:hover h3 a {
  color: var(--green);
}

.newgame .item:hover .btn_play {
  color: var(--green);
}

.newgame .item:hover .btn_play:after {
  background: url("../img/website/arr3_hover.png") no-repeat;
}

.newgame .item:hover:after {
  height: 32px;
  -webkit-transition: opacity .2s linear .2s;
  -o-transition: opacity .2s linear .2s;
  -moz-transition: opacity .2s linear .2s;
  transition: opacity .2s linear .2s;
  opacity: 1;
}

.newgame .iconapp {
  width: 5.9375vw;
  position: absolute;
  left: 0.9375vw;
  bottom: 0.9375vw;
  z-index: 3;
}

.newgame .game_img {
  display: block;
  padding-bottom: 125.07%;
  position: relative;
}

.newgame .game_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.newgame .box_img:after {
  content: "";
  width: 100%;
  height: 3.3854166667vw;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.newgame h3 {
  margin-bottom: 15px;
}

.newgame h3 a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font: 26px BrandonText-Medium, Sans-Serif;
  color: #000;
  text-transform: capitalize;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.newgame p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 96px;
  margin-bottom: 1.4rem;
  font-size: 16px;
  line-height: var(--lh24);
}

.newgame .btn_play {
  display: block;
  font: 23px BrandonText-Regular, sans-serif;
  color: #000;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.newgame .btn_play:before {
  content: "";
  width: 40px;
  height: 2px;
  display: block;
  margin-bottom: 10px;
  background: #4dc669;
}

.newgame .btn_play:after {
  content: "";
  width: 16px;
  height: 11px;
  display: inline-block;
  margin-left: 14px;
  background: url("../img/website/arr3.png") no-repeat;
}

.highlightgame h2.title {
  margin: 100px 0 65px;
}

.highlightgame .item {
  width: 25%;
  overflow: hidden;
}

.highlightgame .item:hover .name {
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
  transform: translateX(100px);
  opacity: 0;
  letter-spacing: 100px;
}

.highlightgame .item:hover .des {
  -webkit-transform: translateY(200px);
  -moz-transform: translateY(200px);
  -ms-transform: translateY(200px);
  -o-transform: translateY(200px);
  transform: translateY(200px);
  opacity: 0;
}

.highlightgame .item:hover .game_btn {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  visibility: visible;
}

.highlightgame .item:hover .img_box:after {
  opacity: 0;
}

.highlightgame .item:hover .img_box img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.highlightgame .img_box {
  display: block;
  padding-bottom: 150%;
  position: relative;
  overflow: hidden;
}

.highlightgame .img_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  -moz-transition: all .6s ease;
  transition: all .6s ease;
}

.highlightgame .img_box:after {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  -moz-transition: all .6s ease;
  transition: all .6s ease;
}

.highlightgame .img_box:after, .highlightgame .content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.highlightgame .des {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #c7c7c7;
  line-height: var(--lh24);
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  -moz-transition: all .6s ease;
  transition: all .6s ease;
}

.highlightgame .name {
  margin-bottom: 0;
  font-weight: 500;
  font: 30px BrandonText-Medium, Sans-Serif;
  text-transform: capitalize;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  -moz-transition: all .6s ease;
  transition: all .6s ease;
}

.highlightgame .name:before {
  content: "";
  width: 60px;
  height: 2px;
  display: block;
  margin-bottom: 10px;
  background: var(--green);
}

.highlightgame .content {
  padding: 30px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  z-index: 2;
}

.game_btn {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  -moz-transition: .3s linear;
  transition: .3s linear;
  z-index: 5;
}

.game_btn > * + * {
  margin-top: 20px;
}

.game_btn a {
  width: 238px;
  height: 48px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(77, 198, 105, 0.9);
  font-weight: 500;
  font-size: 21px;
  color: #fff;
  text-transform: capitalize;
  -webkit-transition: .25s;
  -o-transition: .25s;
  -moz-transition: .25s;
  transition: .25s;
  position: relative;
}

.game_btn a:hover {
  background: #4dc669;
}

.game_btn .fanpage {
  background: rgba(66, 103, 178, 0.9);
}

.game_btn .fanpage:hover {
  background: #4267b2;
}

.game_btn .icon-face {
  width: 11px;
  height: 21px;
  background-position: -98px -1px;
  position: absolute;
  left: 15px;
}

.newsgame h2.title {
  margin: 100px 0 12px;
}

.newsgame .img-news {
  display: block;
  padding-bottom: 51.835%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid transparent;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  position: relative;
  overflow: hidden;
}

.newsgame .img-news img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: .6s;
  -o-transition: .6s;
  -moz-transition: .6s;
  transition: .6s;
}

.newsgame .post {
  width: 20%;
  padding: 0 24px;
}

.newsgame .post p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 75px;
  margin: 20px 0 10px;
  font: 16px BrandonText-Regular, Sans-Serif;
  color: var(--grayis);
  line-height: var(--lh24);
}

.newsgame .post .line {
  width: 60px;
  height: 1px;
  display: block;
  margin-bottom: 5px;
  background: #949494;
  -webkit-transition: all .8s ease;
  -o-transition: all .8s ease;
  -moz-transition: all .8s ease;
  transition: all .8s ease;
}

.newsgame .post time {
  color: #949494;
}

.newsgame .post:hover .img-news {
  border: 2px solid var(--green);
}

.newsgame .post:hover .img-news img {
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -o-transform: scale(1.04);
  transform: scale(1.04);
}

.newsgame .post:hover .line {
  width: 100%;
  background: var(--green);
}

.newsgame .post:hover time {
  color: #363636;
}

.newsgame_tab {
  margin-bottom: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.newsgame_tab a {
  font: 22px BrandonText-Medium, Sans-Serif;
  color: #949494;
  text-transform: uppercase;
  position: relative;
}

.newsgame_tab li:hover a, .newsgame_tab li.active a {
  color: var(--grayis);
}

.newsgame_tab li a:after{
  content: "";
  width: 0;
  height: 2px;
  background: var(--green);
  position: absolute;
  left: -10px;
  bottom: -5px;
  transition: width .3s linear;
}

.newsgame_tab li.active a:after {
  width: 90%;
}

.newsgame_tab li {
  margin: 0 30px;
}

.newsgame_content {
  padding: 0 26px;
}

.bottom {
  margin-top: 100px;
  padding: 0 50px;
}

.bottom .recruitment {
  min-width: 26.3020833333vw;
}

.bottom h2.title {
  text-align: left;
}

.recruitment .info {
  margin-top: 15px;
}

.recruitment .info li:nth-child(2) {
  margin: 5px 18px;
}

.recruitment .info li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #949494;
}

.recruitment .post {
  padding: 17px 0 12px;
  border-bottom: 1px solid #c6c4d7;
}

.recruitment .post:last-child {
  border-bottom: none;
}

.recruitment_filter {
  margin-bottom: 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.recruitment_filter .filter {
  width: 48%;
}

.recruitment_filter h5 {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--grayis);
  font-size: 19px;
}

.recruitment_filter select {
  width: 100%;
  height: 58px;
  padding: 0 22px;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #999;
  font-size: 19px;
}

.recruitment_filter select option::-moz-selection {
  text-transform: uppercase;
}

.recruitment_filter select option::selection {
  text-transform: uppercase;
}

.recruitment_filter select:focus {
  outline: none;
}

.recruitment h3 {
  margin-bottom: 2px;
  padding-right: 115px;
}

.recruitment h3 a {
  font: 20px BrandonText-Medium, Sans-Serif;
  color: var(--grayis);
}

.recruitment h3 a:hover {
  color: var(--green);
}

.recruitment .address {
  color: #949494;
  font: 20px BrandonText-Regular, Sans-Serif;
  line-height: 1;
}

.recruitment .icon {
  margin-right: 7px;
}

.recruitment .icon-time {
  width: 19px;
  height: 19px;
  background-position: -55px -36px;
}

.recruitment .icon-lfc {
  width: 22px;
  height: 19px;
  background-position: -77px -35px;
}

.recruitment .icon-salary {
  width: 28px;
  height: 16px;
  background-position: -55px -57px;
}

.recruitment .icon-address {
  width: 13px;
  height: 19px;
  background-position: -102px -37px;
}

.recruitment .btn_apply {
  padding: 4px 18px;
  position: absolute;
  right: 0;
  top: 27px;
  line-height: 1;
  font-size: 18px;
  color: #fff;
  background: #949494;
  transition: .3s;
}

.recruitment .btn_apply:hover {
  background: var(--green);
}

.recruitment .btn_viewmore {
  margin-top: 40px;
}

.recruitment_shg > * + * {
  margin-top: 22px;
}

.recruitment_shg .post {
  padding: 24px;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.recruitment_shg .post:last-child {
  border: 1px solid #ccc;
}

.recruitment_shg h3 a {
  font-size: 28px;
}

.recruitment_shg .btn_apply {
  padding: 19px 27px;
  background: none;
  color: var(--green);
  border: 1px solid var(--green);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  right: 24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.recruitment_shg .btn_apply:hover {
  color: #fff;
}

.recruitment_post {
  width: 70%;
  padding-right: 40px;
  font-size: 20px;
}

.recruitment_post .btn_back {
  color: var(--green);
  font-size: 22px;
}

.recruitment_post h2.title {
  margin: 15px 0;
  font-weight: 500;
  font-size: 42px;
  text-align: left;
  text-transform: none;
}

.recruitment_post .email {
  margin-bottom: 25px;
}

.recruitment_post .email a, .recruitment_post h4 {
  color: var(--grayis);
  font-size: 20px;
}

.recruitment_post h4 {
  margin-bottom: 20px;
}

.recruitment_info {
  width: 30%;
  margin-top: 170px;
}

.recruitment_info h4 {
  font-weight: 500;
  font-size: 30px;
  color: var(--grayis);
}

.recruitment_info p {
  margin-bottom: 0;
  padding: 15px 0;
  border-top: 1px solid #c6c4d7;
  font-size: 20px;
}

.recruitment_info p span {
  font-weight: 500;
}

.support {
  width: 437px;
  height: 406px;
  padding-top: 265px;
  margin: 65px 9.375vw 0;
  background: url("../img/website/hotline.png") no-repeat 0 0/contain;
  text-align: center;
}

.support > * {
  line-height: 1;
}

.support h5 {
  margin-bottom: 4px;
  font-size: 39px;
  color: var(--green);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.support a {
  display: block;
  color: var(--green);
}

.support .hotline {
  margin-bottom: 5px;
  font-size: 55px;
  letter-spacing: 4px;
}

.support .email {
  font-weight: 300;
  font-size: 24px;
}

.fanpage {
  width: 26.0416666667vw;
}

.fanpage iframe {
  margin-top: 35px;
}

.fanpage .large {
  display: block;
}

.fanpage .small {
  display: none;
}

.shg_title {
  width: 100%;
  height: 9.375vw;
  margin-bottom: 95px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -moz-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  background: url("../img/website/bg_category.jpg") no-repeat 50% 0;
}

.shg_title h1 {
  margin: 0 0 -1.8vw;
  font-size: 5.9895833333vw;
  font-family: BrandonText-Bold, sans-serif;
  color: #fff;

  text-transform: uppercase;
  line-height: 1;
}

.shg_title h1.sm {
  margin-bottom: -0.2604166667vw;
  font-size: 5.9895833333vw;
}

.shg_title h1.lg {
  margin-bottom: -2.15vw;
  font-size: 7.0833333333vw;
}

.shg_title h1:before {
  content: "";
  width: 180px;
  height: 8px;
  display: inline-block;
  background: var(--green);
}

.shg_games .game_item {
  width: 20%;
  padding: 10px;
}

.shg_games .game_item:hover .detail {
  opacity: 1;
}

.shg_games .game_item:hover .game_btn {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  visibility: visible;
  -webkit-transition-delay: .5s;
  -moz-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay: .5s;
}

.shg_games .game_item:hover .name {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
  letter-spacing: 0;
}

.shg_games .game_item:hover .des {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.shg_games .game_item .detail {
  width: -webkit-calc(100% - 20px);
  width: -moz-calc(100% - 20px);
  width: calc(100% - 20px);
  height: -webkit-calc(100% - 20px);
  height: -moz-calc(100% - 20px);
  height: calc(100% - 20px);
  background: url("../img/website/gradient.png") no-repeat bottom center;
  padding: 0 20px;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0;
}

.shg_games .game_item .name, .shg_games .game_item p, .shg_games .game_item .detail {
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  -moz-transition: all .6s ease;
  transition: all .6s ease;
}

.shg_games .game_item .name {
  font: 18px BrandonText-Medium, sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
  transform: translateX(100px);
  opacity: 0;
  letter-spacing: 100px;
}

.shg_games .game_item .name:after {
  content: "";
  width: 15px;
  height: 3px;
  display: block;
  margin: 8px 0 2px;
  background: #fff;
}

.shg_games .game_item .img_box {
  display: block;
  padding-bottom: 150%;
  position: relative;
  overflow: hidden;
}

.shg_games .game_item .img_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.shg_games .game_item .des {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  -webkit-transform: translateY(200px);
  -moz-transform: translateY(200px);
  -ms-transform: translateY(200px);
  -o-transform: translateY(200px);
  transform: translateY(200px);
  opacity: 0;
}

.shg_games .game_btn {
  margin-top: -35px;
}

.shg_games .game_btn > * + * {
  margin-top: 15px;
}

.shg_games .game_btn a {
  width: 193px;
  height: 40px;
}

.category_tab {
  margin-bottom: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.category_tab li {
  margin: 0 22px;
}

.category_tab a {
  color: #868686;
  font: 19px BrandonText-Medium, sans-serif;
  text-transform: uppercase;
}

.category_tab li.active a:after {
  content: "";
  width: 62px;
  height: 4px;
  display: block;
  margin: -2px 0 0 -6px;
  background: var(--green);
}

.category_tab li.active a, .category_tab li:hover a {
  color: var(--grayis);
}

.news {
  margin: 0 auto;
}

.news_highlight {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 66% 32.5%;
  grid-template-columns: 66% 32.5%;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 22px;
}

.news_highlight .post:hover h3 a {
  color: var(--green);
}

.news_highlight .post:hover img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.news_highlight .post:nth-child(1) {
  grid-row: 1/3;
}

.news_highlight .post:nth-child(1) h3 {
  padding: 16px 55px 20px;
}

.news_highlight .post:nth-child(1) h3 a {
  font-size: 30px;
  line-height: 1.3;
}

.news_highlight h3 {
  width: 100%;
  margin-bottom: 0;
  padding: 4px 22px 8px;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  line-height: 20px;
}

.news_highlight h3 a {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
}

.news_highlight .img-news {
  display: block;
  padding-bottom: 58%;
  height: 100%;
  position: relative;
}

.news_highlight .img-news img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.news_list {
  margin-top: 45px;
}

.news_list .post {
  padding: 27px 0 27px 24px;
  position: relative;
  overflow: hidden;
}

.news_list .post:after{
  content: "";
  width: calc(100% - 60px);
  height: 100%;
  background: #edeff2;
  transform: skewX(-45deg) translate(-100%,0);
  transition: all 1s ease;
  position: absolute; top: 0; left: -110px; z-index: -1;
}

.news_list .post:hover:after{
  transform: skewX(-45deg) translate(0,0);
}

.news_list .post:hover time {
  background: var(--green);
}

.news_list .post:hover h3 a {
  color: var(--green);
}

.news_list > * + * {
  border-top: 1px solid #f1f1f1;
}

.news_list .detail {
  width: -webkit-calc(100% - 270px);
  width: -moz-calc(100% - 270px);
  width: calc(100% - 270px);
  padding: 0 200px 0 50px;
}

.news_list .img-news {
  width: 270px;
  height: 160px;
}

.news_list img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.news_list h3 {
  margin-bottom: 15px;
  line-height: 1;
}

.news_list h3 a {
  font-weight: 500;
  font-size: 21px;
  color: #383838;
  line-height: 1;
}

.news_list p {
  font-size: 18px;
  line-height: 25px;
  color: #8f8f8f;
}

.news_list time {
  padding: 2px 20px;
  background: #dddee1;
  color: #fff;
  -webkit-transition: .25s;
  -o-transition: .25s;
  -moz-transition: .25s;
  transition: .25s;
}

.news_detail .detail {
  margin-top: 15px;
  padding-top: 60px;
  border-top: 1px solid #f1f1f1;
  font-size: 18px;
}

.news_detail time {
  display: block;
  margin-top: -28px;
  text-align: center;
  color: #444;
  font-size: 20px;
}

.news_detail img {
  display: block;
  margin: 10px auto 20px;
  max-width: 80%;
}

.news .share {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.news .share h5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  color: #525252;
}

.news .share h5:before {
  content: "";
  width: 20px;
  height: 2px;
  display: block;
  margin-right: 18px;
  background: var(--green);
}

.news .share .btn_share {
  width: 35px;
  height: 35px;
  display: block;
  text-indent: -9999em;
  margin-left: 28px;
  background: url("../img/website/icons.png") no-repeat -112px 0;
  -webkit-transition: 0s;
  -o-transition: 0s;
  -moz-transition: 0s;
  transition: 0s;
}

.news .share .btn_share:hover {
  background: url("../img/website/icons.png") no-repeat -148px 0;
}

.news .page_title {
  width: 80%;
  margin: 0 auto 20px;
  font-weight: 700;
  font-size: 33px;
  color: #444444;
  text-align: center;
  line-height: 1.1;
}

.news a {
  -webkit-transition: .25s;
  -o-transition: .25s;
  -moz-transition: .25s;
  transition: .25s;
}

.news .img-news {
  display: block;
  overflow: hidden;
}

.news img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}

.news .btn_back {
  padding-left: 32px;
  background: url("../img/website/arr5.png") no-repeat left center;
  color: var(--green);
  font-size: 20px;
  position: relative;
}

.news .btn_back:before {
  content: "";
  width: 3px;
  height: 40px;
  background: var(--green);
  position: absolute;
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.shg_about h2.title {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 36px;
  color: var(--green);
  text-transform: uppercase;
  text-align: left;
}

.shg_about .intro {
  width: 59.5%;
  padding-right: 50px;
}

.shg_about .intro h4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
  font-size: 23px;
  text-transform: uppercase;
  color: var(--grayis);
  position: relative;
}

.shg_about .intro h4:after {
  content: "";
  width: 117px;
  height: 1px;
  background: var(--green);
  position: absolute;
  bottom: 8px;
  left: 58px;
}

.shg_about .intro p {
  margin-bottom: 1.3rem;
  font-size: 18px;
  color: var(--grayis);
}

.shg_about .intro .icon {
  margin-right: 15px;
}

.shg_about .intro .icon-overview {
  width: 55px;
  height: 55px;
  background-position: -72px -263px;
}

.shg_about .intro .icon-vision {
  width: 49px;
  height: 59px;
  background-position: -131px -255px;
}

.shg_about .slider_img_shg {
  width: 40.5%;
}

.shg_about .slick-arrow {
  width: 35px;
  height: 31px;
  background: rgba(161, 161, 161, 0.8) url("../img/website/arr6.png") no-repeat center center;
}

.shg_about .slick-arrow:hover {
  background: var(--green) url("../img/website/arr6.png") no-repeat center center;
}

.shg_about .slick-next {
  right: 0;
}

.shg_about .slick-prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.shg_history h4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
  font-size: 23px;
  text-transform: uppercase;
  color: var(--grayis);
  position: relative;
}

.shg_history h4:after {
  content: "";
  width: 117px;
  height: 1px;
  background: var(--green);
  position: absolute;
  bottom: 8px;
  left: 58px;
}

.shg_history .icon {
  margin-right: 15px;
}

.shg_history .icon-hs {
  width: 49px;
  height: 55px;
  background-position: -70px -320px;
}

.shg_timeline {
  margin: 60px 0;
  padding: 0 30px 0;
  border-top: 1px solid var(--green);
}

.shg_timeline .slick-list {
  padding-top: 7px;
  margin-top: -8px;
}

.shg_timeline time, .shg_timeline h5 {
  font-weight: 700;
  font-size: 18px;
  color: var(--grayis);
}

.shg_timeline h5 {
  margin: 20px 0 5px;
  text-transform: uppercase;
}

.shg_timeline p {
  max-width: 300px;
  font-size: 15px;
  color: #a1a1a1;
}

.shg_timeline li {
  padding: 15px 15px 0;
  border-top: 1px solid var(--green);
  position: relative;
}

.shg_timeline li:before {
  content: "";
  width: 11px;
  height: 11px;
  background: var(--green);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: -6px;
  left: 15px;
}

.shg_timeline .slick-arrow {
  width: 37px;
  height: 37px;
  background: var(--green) url("../img/website/arr6.png") no-repeat center center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  top: -95px;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.shg_timeline .slick-next {
  left: -webkit-calc(50% + 25px);
  left: -moz-calc(50% + 25px);
  left: calc(50% + 25px);
}

.shg_timeline .slick-prev {
  -webkit-transform: translateY(0) rotate(180deg);
  -moz-transform: translateY(0) rotate(180deg);
  -ms-transform: translateY(0) rotate(180deg);
  -o-transform: translateY(0) rotate(180deg);
  transform: translateY(0) rotate(180deg);
  left: -webkit-calc(50% - 60px);
  left: -moz-calc(50% - 60px);
  left: calc(50% - 60px);
}

.cooperate h2.title {
  margin-bottom: 20px;
  text-transform: none;
  text-align: left;
  font: 42px;
}

.cooperate_form {
  width: 65%;
  padding-right: 40px;
}

.cooperate_form .form-group {
  margin-bottom: 2rem;
}

.cooperate_form label {
  display: block;
  font-weight: 700;
  font-size: 20px;
  color: var(--grayis);
}

.cooperate_form input, .cooperate_form textarea {
  width: 100%;
  height: 36px;
  padding: 0 15px;
  border: 1px solid #bbbbbb;
}

.cooperate_form input:focus, .cooperate_form textarea:focus {
  outline: none;
  border: 1px solid #000;
}

.cooperate_form textarea {
  padding: 15px;
}

.cooperate_form textarea {
  height: 290px;
}

.cooperate_form .btn_submit {
  width: 177px;
  height: 46px;
  background: #fff;
  border: 1px solid var(--green);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: var(--green);
  font-size: 19px;
  cursor: pointer;
}

.cooperate_form .btn_submit:hover {
  background: var(--green);
  color: #fff;
}

.cooperate_info {
  width: 35%;
}

.cooperate .map {
  margin-top: 70px;
  border: 1px solid #eeeeee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.cooperate .map iframe {
  width: 100%;
  height: 360px;
}

.cooperate .map p {
  padding: 15px;
  margin-bottom: 0;
  font-size: 12px;
}

.cooperate .info {
  margin-top: 30px;
  font-size: 20px;
}

.cooperate .info a {
  color: var(--grayis);
  font-size: 20px;
}

.cooperate .info span, .cooperate .info h5 {
  font-weight: 700;
}

.guide_tab {
  width: 25%;
  padding-right: 5%;
}

.guide_tab > * + * {
  margin-top: 35px;
}

.guide_tab a {
  color: var(--grayis);
  font-size: 20px;
}

.guide_tab li.active a {
  color: var(--green);
  font-weight: 500;
}

.guide_tab li:hover a {
  color: var(--green);
}

.guide_content {
  width: 75%;
}

.guide_menu {
  padding: 25px 0 45px 35px;
}

.guide_menu > * + * {
  margin-top: 5px;
}

.guide_menu a {
  font-weight: 700;
  font-size: 20px;
  color: var(--green);
}

.guide_menu a:hover {
  text-decoration: underline;
}

.guide .shg_answer {
  padding: 15px 0;
  margin-left: 35px;
  border-top: 1px solid #ededed;
}

.guide .shg_answer h5 {
  font-weight: 700;
  font-size: 20px;
  color: var(--green);
}

.guide .shg_answer p {
  margin-bottom: 5px;
  font-size: 20px;
}

.guide h2.title {
  margin-bottom: 55px;
  border-bottom: 1px solid #bbbbbb;
  text-align: left;
  line-height: 1;
}

.guide h2.title span {
  display: inline-block;
  padding-bottom: 12px;
  border-bottom: 3px solid var(--green);
}

.guide h4 {
  font-weight: 700;
  font-size: 20px;
  color: var(--grayis);
}

.rules article {
  margin-top: 70px;
  font-size: 20px;
}

.rules h3, .rules h4 {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 20px;
}

.rules h3 {
  text-transform: uppercase;
}

footer {
  margin-top: 120px;
  padding: 40px 0 35px;
  background: #282b2d;
  text-align: center;
  color: #fff;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.5;
}

footer .logo_f {
  width: 185px;
  display: block;
  margin: 0 auto;
}

footer a{color: #fff;}
footer a:hover{color: var(--green);}

footer .menu_f {
  margin: 20px 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer .menu_f li {
  margin: 0 8px;
}

footer .menu_f a {
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
  -webkit-transition: .25s;
  -o-transition: .25s;
  -moz-transition: .25s;
  transition: .25s;
}

footer .menu_f a:hover {
  color: #4dc669;
}

footer .contact_f {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 20px;
}

footer .contact_f a {
  width: 42px;
  height: 42px;
  display: block;
  margin: 0 8px;
  background: url("../img/website/icons.png") no-repeat 0 0;
}

footer .contact_f .btn_facebook {
  background-position: -49px -76px;
}

footer .contact_f .btn_facebook:hover {
  background-position: -93px -76px;
}

footer .contact_f .btn_yt {
  background-position: -51px -120px;
}

footer .contact_f .btn_yt:hover {
  background-position: -95px -120px;
}

footer .contact_f .btn_mail {
  background-position: -51px -164px;
}

footer .contact_f .btn_mail:hover {
  background-position: -96px -164px;
}

footer .contact_f .btn_phone {
  background-position: -72px -209px;
}

footer .contact_f .btn_phone:hover {
  background-position: -116px -209px;
}

.container_shg {
  max-width: 1450px;
  margin: 0 auto;
}

h2.title {
  display: block;
  text-align: center;
  font: 40px BrandonText-Medium, san-serif;
  text-transform: uppercase;
  color: var(--grayis);
}

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  border: none;
  font-size: 0;
  cursor: pointer;
  z-index: 2;
}

.slick-arrow.slick-disabled {
  display: none !important;
}

.slick-arrow:focus {
  outline: none;
}

.btn_viewmore {
  width: 242px;
  height: 45px;
  margin: 60px auto 0;
  border: 1px solid #c7c7c7;
  color: #949494;
  font-size: 22px;
  text-transform: capitalize;
  position: relative;
  overflow: hidden;
  transition: all .2s ease-in;
}

.btn_viewmore:hover{background: var(--green);}

.btn_viewmore span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.btn_viewmore:before {
  content: "";
  width: 0;
  height: 100%;
  background: var(--green);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: width .2s ease-in;
  -o-transition: width .2s ease-in;
  -moz-transition: width .2s ease-in;
  transition: width .2s ease-in;
}

.btn_viewmore span:after {
  content: "+";
  margin: 2px 0 0 15px;
}

.btn_viewmore:hover {
  color: #fff;
  border: 1px solid transparent;
}

.btn_viewmore:hover:before {
  width: 0;
}

img {
  max-width: 100%;
}

@media (max-width: 1680px) {
  .menu > * + * {
    margin-left: 25px;
  }
  .fanpage {
    width: 350px;
  }
  .fanpage .large {
    display: none;
  }
  .fanpage .small {
    display: block;
  }
}

@media (max-width: 1600px) {
  .navbar .logo {
    width: 190px;
  }
  .navbar .search {
    margin-left: 30px;
  }
  .navbar .search input {
    width: 220px;
  }
  .game_top {
    top: 94px;
  }
  .menu {
    margin-left: 40px;
  }
  .menu > li > a {
    font-size: 17px;
  }
  .bottom {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .support {
    margin: 65px 30px 0;
  }
  .category .game_btn {
    margin-top: -45px;
  }
  .category .game_btn > * + * {
    margin-top: 6px;
  }
  .category .game_btn a {
    height: 30px;
    width: 160px;
    font: 15px BrandonText-Regular, sans-serif;
  }
  .category .game_item .detail {
    padding: 0 10px;
  }
  .news_highlight h3 a {
    font-size: 16px;
  }
  .news_highlight .post:nth-child(1) h3 {
    padding: 10px 30px;
  }
  .news_highlight .post:nth-child(1) h3 a {
    font-size: 24px;
  }
  .news_list .detail {
    width: -webkit-calc(100% - 270px);
    width: -moz-calc(100% - 270px);
    width: calc(100% - 270px);
    padding: 0 175px 0 20px;
  }
  .shg_games .game_item .detail {
    padding: 0 15px;
  }
  .shg_games .game_btn {
    margin-top: -50px;
  }
  .shg_games .game_btn > * + * {
    margin-top: 8px;
  }
  .shg_games .game_btn a {
    width: 160px;
    height: 30px;
    font: 18px BrandonText-Regular, sans-serif;
  }
  .container_shg {
    max-width: 1170px;
  }
}

@media (max-width: 1366px) {
  .navbar .logo {
    width: 160px;
  }
  .navbar .search input {
    width: 190px;
  }
  .menu {
    margin-left: 30px;
  }
  .menu > * + * {
    margin-left: 20px;
  }
  .menu > li > a {
    font-size: 16px;
  }
  .topgame a {
    font-size: 17px;
    line-height: 1.2;
  }
  .newsgame .content {
    padding: 20px 15px;
  }
  .newsgame .post {
    padding: 0 15px;
  }
  .highlightgame .name {
    font-size: 22px;
  }
  .highlightgame .game_btn a {
    width: 200px;
    height: 40px;
    font-size: 18px;
  }
  .support {
    width: 320px;
    height: 297px;
    padding-top: 185px;
  }
  .support h5 {
    font-size: 32px;
  }
  .support .hotline {
    font-size: 36px;
  }
  .support .email {
    font-size: 20px;
  }
  .recruitment {
    max-width: 29.1666666667vw;
  }
  .recruitment .info li {
    font-size: 15px;
  }
  .recruitment-page {
    max-width: 1200px;
  }
}

@media (max-width: 1280px) {
  .navbar .search {
    display: none;
  }
  .support {
    margin: 65px 25px 0;
  }
}

.pageLstNews {
  display: block;
  background: #101114;
  width: 99.5%;
  border: 1px solid #7d7159;
  position: relative;
}

.pageLstNews .listNews {
  padding: 0 20px;
  margin: 100px 8px 0;
  background: #272a30;
}

.pageLstNews .post {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  padding: 20px 0;
  border-bottom: 1px solid #7d7159;
  color: #fff;
}

.pageLstNews .post:last-child {
  border-bottom: none;
}

.pageLstNews .post .content {
  width: -webkit-calc(100% - 235px);
  width: -moz-calc(100% - 235px);
  width: calc(100% - 235px);
}

.pageLstNews .post p.rs {
  -webkit-flex-basis: 100%;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}

.pageLstNews .post h3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pageLstNews .post a.thumb {
  width: 235px;
  height: 160px;
  display: block;
  margin-right: 15px;
  overflow: hidden;
}

.pageLstNews .post img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: 1s;
  -o-transition: 1s;
  -moz-transition: 1s;
  transition: 1s;
}

.pageLstNews .post a.thumb:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.pageLstNews .post h3 a {
  display: block;
  margin-bottom: 12px;
  color: #f2d27e;
  padding-right: 10px;
  font: 700 16px Roboto, sans-serif;
  text-transform: uppercase;
}

.pageLstNews .post h3 a:hover {
  color: #fffc00;
}

.pageLstNews .post time {
  display: block;
  font: 400 14px Roboto, sans-serif;
  color: #6e6e6e;
}

.pageLstNews .post p {
  font: 400 14px Roboto, sans-serif;
  line-height: 18px;
}

.pageLstNews .post .viewMore-more {
  display: inline-block;
  height: 38px;
  padding: 0 40px 0 25px;
  text-transform: uppercase;
  border: 1px solid #7d7159;
  margin-top: 15px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #7d7159;
  font-size: 18px;
  line-height: 34px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.pageLstNews .post .viewMore-more:hover {
  color: #574c38;
  border: 1px solid #574c38;
}

.pageLstNews .post .viewMore-more:after {
  content: "";
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent transparent #7d7159;
  position: absolute;
  right: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.pageLstNews:after {
  content: "";
  width: 100%;
  height: 17px;
  display: block;
  position: absolute;
  bottom: 3px;
}

.pageDetail .dataDetail {
  margin: 100px 8px 0;
  padding: 0 20px;
  color: #d8d8d8;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  background: #272a30;
}

.pageDetail img {
  max-width: 100%;
  margin: 15px;
}

.pageDetail h2.dataTitle {
  display: block;
  text-align: center;
  padding: 30px 0 25px;
  text-transform: uppercase;
  color: #f2d27e;
  font: 700 22px Roboto, sans-serif;
  line-height: 32px;
}

.pageDetail time {
  color: #6e6e6e;
  font-size: 16px;
  display: block;
  padding-bottom: 15px;
  border-bottom: 1px solid #7d7159;
  margin-bottom: 15px;
}

.pageDetail .spr-2 {
  background: url(https://sohagame.mediacdn.vn/project/m/sg14/pc/images/social.png) no-repeat 0 0;
}

.pageDetail .iface {
  background-position: 0 0;
}

.pageDetail .ilink {
  background-position: -30px 0;
}

.pageDetail .izing {
  background-position: -64px 0;
}

.pageDetail .share {
  height: 40px;
  padding: 40px 15px 0;
  background: #272a30;
  margin: 0 8px;
}

.pageDetail .share li {
  float: left;
  margin: 0 5px;
  line-height: 24px;
  font-weight: bold;
  color: #fff;
}

.pageDetail .share li.face {
  width: 200px;
}

.pageDetail .share li a {
  display: block;
  width: 24px;
  height: 24px;
  text-indent: -9292px;
  position: relative;
}

.pageDetail .share li a:hover span {
  visibility: visible;
  opacity: 0.9;
  filter: alpha(opacity=90);
  bottom: 64px;
  -webkit-transform: rotate(-90deg) scale(1);
  -moz-transform: rotate(-90deg) scale(1);
  -ms-transform: rotate(-90deg) scale(1);
  -o-transform: rotate(-90deg) scale(1);
  transform: rotate(-90deg) scale(1);
}

.pageDetail .share li a span {
  width: 90px;
  height: auto;
  line-height: 20px;
  padding: 10px;
  left: 50%;
  margin-left: -58px;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  color: #18bdff;
  text-align: center;
  border: 2px solid #2e444c;
  background: #10151d;
  text-indent: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible;
  pointer-events: none;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  bottom: -33px;
  -webkit-transform: rotate(0deg) scale(0);
  -moz-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  -o-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
}

.pageDetail .dataTag {
  background: #272a30;
  margin: 0 8px;
  padding: 15px;
  color: #008300;
}

.pageDetail .box-rela {
  display: block;
  padding: 20px;
  margin: 0 8px;
  background: #272a30;
}

.pageDetail .box-rela h4 {
  width: 100%;
  display: block;
  padding-top: 20px;
  color: #f2d27e;
  text-transform: uppercase;
  font: 700 18px Roboto, sans-serif;
  border-top: 1px solid #7d7159;
}

.pageDetail .box-rela .ulRela {
  display: block;
  margin-top: 15px;
}

.pageDetail .box-rela .ulRela li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px dashed #4d6368;
}

.pageDetail .box-rela .ulRela li:last-child {
  border-bottom: none;
}

.pageDetail .box-rela .ulRela li a {
  font-size: 15px;
  color: #d8d8d8;
}

.pageDetail .box-rela .ulRela li a:hover {
  color: #fff;
}

.pageDetail .box-rela .ulRela li .time {
  font-size: 14px;
}

.breadcrumb-b2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  width: 879px;
  height: 206px;
  padding-top: 105px;
  padding-left: 100px;
  position: absolute;
  top: -105px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.breadcrumb-b2 h2 {
  display: block;
  float: left;
  margin: 0;
  text-transform: uppercase;
  color: #f2d27e;
  font-size: 36px;
  position: relative;
}

.breadcrumb-b2 .breadcrumb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0;
  margin-bottom: 0;
  color: #5c5c5c;
  background: none;
}

.breadcrumb-b2 .breadcrumb a, .breadcrumb-b2 .breadcrumb span {
  color: #828282;
  font: 16px MyriadPro-regular, sans-serif;
}

.breadcrumb-b2 .breadcrumb span.space {
  padding: 0 8px;
}

.breadcrumb-b2 .breadcrumb a:hover span {
  color: #fffc00;
}

.nav-news, .nav-media {
  padding: 0 20px;
  margin-top: 25px;
}

.nav-news li, .nav-media li {
  width: 33.33%;
}

.nav-news li a, .nav-media li a {
  height: 45px;
  width: 100%;
  display: block;
  background: #132f3a;
  color: #fdfbe5;
  text-transform: uppercase;
  font: 18px Roboto, sans-serif;
  text-align: center;
  line-height: 45px;
}

.nav-news li a.active, .nav-media li a.active {
  background: #337691;
  color: #fdfbe5;
}

.nav-media {
  padding: 0;
  margin-bottom: 30px;
}

.pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
}

.pagination > li > a {
  padding: 6px 9px;
  margin: 0 5px;
  color: #7d7159;
  border: 1px solid #7d7159;
  background: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.pagination > .active > a {
  background: #7d7159;
  border: none;
  color: #000;
}

.pagination > li > a:hover {
  border: 1px solid #7d7159;
}

.pagination .disabled > span, .pagination .disabled > span:hover {
  background: none;
  border: 1px solid #7d7159;
}

.pagination > .active > a, .pagination > .active > a:hover {
  border: 1px solid #7d7159;
  color: #000;
  text-decoration: underline;
}

.modal-video .modal-content{border: none;}
.modal-video .modal-dialog{width: 100%; max-width: 1020px;}
.modal-video .modal-body{padding: 25px; border-top: 4px solid var(--green);}
.modal-video .close{
  position: absolute; top: 5px; right: 3px; padding: 4px 2px;
  text-shadow: none; box-shadow: none;
  font-size: 15px;
  color: #333;
  z-index: 9; opacity: .9;
}
.modal-video iframe{width: 100%; height: 560px;}

.skeleton {
  width: 100%;
  height: 49.5vw;

  position: absolute;
  top: 96px;
  opacity: 1;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  overflow: hidden;
  z-index: 9;
}

.skeleton.hidden {
  z-index: -1;
  opacity: 0;
}

.skeleton__iconapp {
  width: 114px;
  height: 114px;
  display: block;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #dadada;
  margin-right: 8px;
}

.skeleton__download {
  position: absolute;
  left: 50px;
  bottom: 230px;
}

.skeleton__item{ overflow: hidden;}

.skeleton__flex div {
  width: 182px;
  height: 53px;
  display: block;
  background: #dadada;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-indent: -9999em;
}

.skeleton__flex > * + * {
  margin-top: 6px;
}

.skeleton__info {
  width: 565px;
  height: 202px;
  padding: 15px 0 10px 50px;
  background: #dadada;
  position: absolute;
  left: 0;
  bottom: 17px;
}


.skeleton__info:after {
  content: "";
  width: 0;
  height: 0;
  border-bottom: 202px solid #dadada;
  border-right: 135px solid transparent;
  position: absolute;
  top: 0;
  right: -135px;
}

.skeleton__info .game_name {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 47px;
  color: #4dc669;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.skeleton__info .des {
  color: #9a9a9e;
  font-size: var(--size17);
}

.skeleton__item:before,.skeleton1__item:before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  z-index: 1;
  width: 500%;
  margin-left: -250%;
  -webkit-animation: phAnimation .8s linear infinite;
  -moz-animation: phAnimation .8s linear infinite;
  -o-animation: phAnimation .8s linear infinite;
  animation: phAnimation .8s linear infinite;
  background: -webkit-gradient(linear, left top, right top, color-stop(46%, transparent), color-stop(50%, rgba(255, 255, 255, 0.35)), color-stop(54%, transparent)) 50% 50%;
  background: -webkit-linear-gradient(left, transparent 46%, rgba(255, 255, 255, 0.35) 50%, transparent 54%) 50% 50%;
  background: -o-linear-gradient(left, transparent 46%, rgba(255, 255, 255, 0.35) 50%, transparent 54%) 50% 50%;
  background: linear-gradient(to right, transparent 46%, rgba(255, 255, 255, 0.35) 50%, transparent 54%) 50% 50%;
}

.skeleton1{
  width: calc(100% - 200px);
  position: absolute; top: 124px;
}
.skeleton1.hidden{opacity: 0; visibility: hidden;}

.skeleton1 li{
  width: 16.667%;
  padding: 0 15px;
  position: relative;
  overflow: hidden;
}
.skeleton1__img{
  display: block;
  max-width: 196px;
  background: #dadada;
  border-radius: 10px;
  padding-bottom: 100%;
  margin: 0 auto;
  position: relative;
}
.skeleton1__play,.skeleton1__name{
  max-width: 196px;
  background: #dadada;
}
.skeleton1__name{
  width: 90%;
  height: 12px;
  border-radius: 4px;
  margin: 10px auto 15px;
}
.skeleton1__play{width: 50%; height: 5px; margin: 0 auto;}

@-webkit-keyframes phAnimation {
  0% {
    -webkit-transform: translate3d(-30%, 0, 0);
    transform: translate3d(-30%, 0, 0); }
  100% {
    -webkit-transform: translate3d(30%, 0, 0);
    transform: translate3d(30%, 0, 0); } }

@keyframes phAnimation {
  0% {
    -webkit-transform: translate3d(-30%, 0, 0);
    transform: translate3d(-30%, 0, 0); }
  100% {
    -webkit-transform: translate3d(30%, 0, 0);
    transform: translate3d(30%, 0, 0); }
}

@media (max-width: 1600px) {
  .newgame .content{padding: 15px;}
  .newgame h3 a{font-size: 20px;}
}
@media (max-width: 1440px) {
  .newgame h3 a{font-size: 18px;}
  .newgame p{min-height: 80px; font-size: 14px; line-height: 20px;}
}
@media (min-width: 1600px) {
  .skeleton1{top: 124px;}
  .skeleton1__img{padding-bottom: 78%;}
}