/*!
 * project_shg
 * 
 * 
 * @author Thuclfc
 * @version 2.0.0
 * Copyright 2020. MIT licensed.
 *//*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

button,
input {
  /* 1 */
  overflow: visible;
}

button,
select {
  /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

a:hover, a:focus {
  text-decoration: none;
}

img.bg {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.flex_center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex_beween {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hidden_tab {
  opacity: 0;
  height: 0;
  visibility: hidden;
}

.hidden_tab > * {
  height: 0;
  overflow: hidden;
  z-index: 0;
  visibility: hidden;
}

.show_tab {
  opacity: 1;
  height: auto;
  z-index: 90;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: 0.6s;
  -o-transition: 0.6s;
  -moz-transition: 0.6s;
  transition: 0.6s;
  visibility: visible;
}

.show_tab > * {
  height: auto;
  z-index: 9;
  visibility: visible;
}

/*popup*/
.popup-giftcode, .popup-video {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-1000px);
  -moz-transform: translateX(-50%) translateY(-1000px);
  -ms-transform: translateX(-50%) translateY(-1000px);
  -o-transform: translateX(-50%) translateY(-1000px);
  transform: translateX(-50%) translateY(-1000px);
  z-index: 999;
}

.open_popup.popup-giftcode, .open_popup.popup-video {
  -webkit-transition: all .4s linear 0s;
  -o-transition: all .4s linear 0s;
  -moz-transition: all .4s linear 0s;
  transition: all .4s linear 0s;
}

.popup-giftcode {
  width: 500px;
  padding: 15px;
  background: #fff;
}

.popup-giftcode h4 {
  display: block;
  margin-bottom: 20px;
  text-align: center;
  font: 26px Tahoma;
  color: #179526;
  text-transform: uppercase;
}

.popup-giftcode p {
  display: block;
  text-align: center;
  font: 18px Tahoma;
}

.popup-giftcode p span {
  color: #c00;
}

.popup-video {
  width: 800px;
  height: 460px;
  background: #000;
}

.popup-video iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 1024px) {
  .popup-video {
    width: 94%;
    height: 60%;
  }
}

@media (orientation: landscape) {
  .popup-video {
    width: 100%;
    height: 100%;
  }
}

.modal-popup {
  display: none;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 99;
}

.modal-popup.open_popup {
  display: block;
}

a.close_popup {
  position: absolute;
  top: 0;
  right: 0;
  background: #c00;
  padding: 4px;
  font-size: 16px;
  color: #fff;
}

.open_popup {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}


footer .fixCen {
  width: 1000px;
  margin: 0 auto;
}

footer img.limit {
  right: 0;
  top: 0;
  position: absolute;
}

footer a {
  color: #2f6f9f;
}

footer a.shg {
  display: block;
  background: url(https://sohagame.mediacdn.vn/project/m/sg148/pc/images/home/logo-soha.png) no-repeat;
  width: 157px;
  height: 35px;
  position: absolute;
  top: 25px;
  left: 0;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-moz-keyframes flash {
  0% {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50% {
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100% {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}

@-o-keyframes flash {
  0% {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50% {
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100% {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}

@keyframes flash {
  0% {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50% {
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100% {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}

@-webkit-keyframes flash {
  0% {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
  50% {
    -webkit-filter: saturate(2.1);
    filter: saturate(2.1);
  }
  100% {
    -webkit-filter: saturate(1);
    filter: saturate(1);
  }
}

.flash {
  -moz-animation-name: flash;
  -o-animation-name: flash;
  animation-name: flash;
  -webkit-animation-name: flash;
}

@-moz-keyframes rotate {
  to {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  from {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes rotate {
  to {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  from {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotate {
  -webkit-animation: rotate;
  -moz-animation: rotate;
  -o-animation: rotate;
  animation: rotate;
  -webkit-animation-name: rotate;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.14, 1.14, 1.14);
    transform: scale3d(1.14, 1.14, 1.14);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-moz-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.14, 1.14, 1.14);
    -moz-transform: scale3d(1.14, 1.14, 1.14);
    transform: scale3d(1.14, 1.14, 1.14);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-o-keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.14, 1.14, 1.14);
    transform: scale3d(1.14, 1.14, 1.14);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    -webkit-transform: scale3d(1.14, 1.14, 1.14);
    -moz-transform: scale3d(1.14, 1.14, 1.14);
    transform: scale3d(1.14, 1.14, 1.14);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -o-animation-name: pulse;
  animation-name: pulse;
}

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}


:root {
  --gray: #868686;
  --gray1: #959595;
  --green: #5dc975;
  --grayis: #292929;
  --size17: 17.54px;
  --lh24: 24px;
}

@font-face {
  font-family: BrandonText-Medium;
  src: url('../fonts/BrandonText-Medium.otf');
}

@font-face {
  font-family: BrandonText-Bold;
  src: url('../fonts/BrandonText-Bold.otf');
}

body {
  background: #fff;
  font-family: Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

body.is-f{font-family: 'Exo 2', sans-serif;}

a {
  font-size: 16px;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.icon {
  display: inline-block;
  background: url("../img/website/icons.png") no-repeat 0 0;
}

.navbar {
  width: 100%;
  height: 52px;
  padding: 0 15px;
  background: #fff;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-shadow: 0px 1px 7px #ccc;
  -moz-box-shadow: 0px 1px 7px #ccc;
  box-shadow: 0px 1px 7px #ccc;
  position: fixed; top: 0;
  z-index: 9;
}

.navbar .logo {
  width: 130px;
}

.navbar .search {
  margin-left: 3.3854166667vw;
}

.navbar .search input {
  width: 254px;
  height: 35px;
  padding: 0 15px 0 45px;
  background: #f1f1f1 url("../img/website/icon-search.png") no-repeat 18px center;
  -webkit-border-radius: 9999px;
  -moz-border-radius: 9999px;
  border-radius: 9999px;
  border: none;
  color: #959595;
}

.navbar .search input::-webkit-input-placeholder {
  color: #959595;
}

.navbar .search input::-moz-placeholder {
  color: #959595;
}

.navbar .search input:-ms-input-placeholder {
  color: #959595;
}

.navbar .search input::placeholder {
  color: #959595;
}

.navbar .search input:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.navbar .login_before {
  padding: 30px 0;
}

.navbar .login_before a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar .login_before img {
  width: 15.625vw;
  max-width: 100px;
}

.navbar .login_before span {
  margin-left: 20px;
  font-weight: 500;
  font-size: 20px;
  color: #535353;
}

.navbar .login_after {
  padding: 20px 0;
}

.navbar .user {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar .user_avatar {
  width: 15.625vw;
  max-width: 80px;
  margin-right: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
}

.navbar .user .name {
  display: block;
  color: #535353;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
}

.navbar .user .id {
  color: var(--gray1);
}

.navbar .dropdown-menu {
  min-width: 196px;
  padding: 20px 0 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
  top: 0;
  float: none;
  position: relative;
}

.navbar .dropdown-menu a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: var(--size17);
  color: #3f3f3f;
  line-height: 1.36;
}

.navbar .dropdown-menu a:hover {
  color: var(--green);
}

.navbar .dropdown-menu > * + * {
  margin-top: 15px;
}

.navbar .dropdown-menu .icon {
  margin-right: 8px;
}

.navbar .dropdown-menu .icon-coin {
  width: 23px;
  height: 23px;
  background-position: -1px 0;
}

.navbar .dropdown-menu .icon-update {
  width: 25px;
  height: 23px;
  background-position: -25px -36px;
}

.navbar .dropdown-menu .icon-protection {
  width: 20px;
  height: 22px;
  background-position: -25px -73px;
}

.navbar .dropdown-menu .icon-error {
  width: 19px;
  height: 15px;
  background-position: -24px -110px;
}

.navbar .dropdown-menu .icon-logout {
  width: 20px;
  height: 20px;
  background-position: -28px -145px;
}

.navbar .dropdown-menu li:hover .icon-update {
  background-position: 0 -36px;
}

.navbar .dropdown-menu li:hover .icon-protection {
  background-position: -3px -73px;
}

.navbar .dropdown-menu li:hover .icon-error {
  background-position: -3px -110px;
}

.navbar .dropdown-menu li:hover .icon-logout {
  background-position: -4px -145px;
}

.navbar .navbar-toggler {
  width: 30px;
  height: 20px;
  padding: 0;
  position: relative;
}

.navbar .navbar-toggler span {
  width: 28px;
  height: 2px;
  background: #535353;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.navbar .navbar-toggler span:before, .navbar .navbar-toggler span:after {
  content: "";
  width: 28px;
  height: 2px;
  background: #535353;
  position: absolute;
  left: 0;
}

.navbar .navbar-toggler span:before {
  top: -7px;
}

.navbar .navbar-toggler span:after {
  bottom: -7px;
}

.navbar .btn_login {
  width: 30px;
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}

.navbar-collapse {
  height: -webkit-calc(100% - 52px);
  height: -moz-calc(100% - 52px);
  height: calc(100% - 52px);
  width: -webkit-calc(100vw - 14vw);
  width: -moz-calc(100vw - 14vw);
  width: calc(100vw - 14vw);
  padding: 0 0 30px 5.46875vw;
  background: #fff;
  position: fixed;
  left: -webkit-calc(14vw - 100vw);
  left: -moz-calc(14vw - 100vw);
  left: calc(14vw - 100vw);
  top: 52px;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  overflow: auto;
}

.navbar-collapse.show {
  left: 0;
}

.navbar-collapse .close {
  width: 7.5vw;
  height: 7.5vw;
  background: url("../img/website/close.png") no-repeat 0 0/contain;
  position: absolute;
  top: 3.125vw;
  right: 3.125vw;
  opacity: .9;
  z-index: 9;
}

.navbar-collapse .logout {
  display: block;
  padding: 4.6875vw 0 0;
  border-top: 1px solid #dadada;
  color: #535353;
  text-transform: uppercase;
  font-size: 20px;
}

.navbar-collapse .social {
  margin-top: 4.6875vw;
}

.navbar-collapse .social > * + * {
  margin-left: 3.4375vw;
}

.menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  /*li:last-child > a{color: var(--green); font-family: BrandonText-Medium, sans-serif;}*/
}

.menu > li {
  padding: 3.125vw 0;
}

.menu > li > a {
  display: block;
  color: #535353;
  text-transform: uppercase;
  font-size: 20px;
  position: relative;
}

.menu > li > a:hover {
  color: var(--green);
}

.menu > li > a:after {
  content: "";
  width: 0;
  height: 2px;
  background: #4dc669;
  position: absolute;
  left: -10px;
  bottom: -2px;
  -webkit-transition: width .5s linear;
  -o-transition: width .5s linear;
  -moz-transition: width .5s linear;
  transition: width .5s linear;
}

.menu > li > a.active {
  color: var(--green);
}

.menu li:hover .game_top {
  opacity: 1;
  height: 281px;
}

.menu .icon-vip {
  width: 21px;
  height: 15px;
  background-position: -1px -364px;
}

.navbar-modal {
  width: 100%;
  height: 100%;
  background: rgba(77, 198, 105, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  -moz-transition: opacity .2s;
  transition: opacity .2s;
}

.navbar-modal.show {
  opacity: 1;
  visibility: visible;
  z-index: 2;
}

.game_top {
  width: 100%;
  background: rgba(77, 198, 105, 0.97);
  position: absolute;
  left: 0;
  top: 97px;
  height: 0;
  -webkit-transition: height .3s linear;
  -o-transition: height .3s linear;
  -moz-transition: height .3s linear;
  transition: height .3s linear;
  overflow: hidden;
  z-index: 9;
}

.game_top .game_list {
  margin: 38px 0 20px;
}

.game_top .game_list li {
  display: inline-block;
  position: relative;
}

.game_top .game_list li:hover .img-box:after {
  opacity: 1;
}

.game_top .game_list li:hover .play {
  opacity: 1;
}

.game_top .game_list li:hover .play:before {
  width: 66px;
}

.game_top .game_list .img-box {
  width: 120px;
  position: relative;
}

.game_top .game_list .img-box:after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  -moz-transition: all .6s ease;
  transition: all .6s ease;
}

.game_top .game_list img {
  width: 120px;
  height: 180px;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}

.game_top .game_list span {
  color: #fff;
}

.game_top .game_list .name {
  display: block;
  margin-top: 5px;
  max-width: 120px;
  text-transform: capitalize;
  line-height: 1.2;
}

.game_top .game_list .play {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 80px;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  -moz-transition: all .6s ease;
  transition: all .6s ease;
}

.game_top .game_list .play:before {
  content: "";
  height: 3px;
  width: 0;
  background: var(--green);
  position: absolute;
  bottom: 2px;
  left: -5px;
  z-index: -1;
  -webkit-transition: width .5s linear .3s;
  -o-transition: width .5s linear .3s;
  -moz-transition: width .5s linear .3s;
  transition: width .5s linear .3s;
}

.game_top .slick-arrow {
  width: 12px;
  height: 23px;
  top: 45%;
  background: url("../img/website/icons.png") no-repeat -52px -2px;
  opacity: .7;
}

.game_top .slick-arrow:hover {
  opacity: 1;
}

.game_top .slick-next {
  right: -34px;
}

.game_top .slick-prev {
  left: -50px;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.social a {
  width: 9.375vw;
  height: 9.375vw;
  display: block;
  text-indent: -9999em;
}

.social .facebook {
  background: url("../img/website/icon-face.png") no-repeat 0 0/contain;
}

.social .youtube {
  background: url("../img/website/icon-yt.png") no-repeat 0 0/contain;
}

.social .email {
  background: url("../img/website/icon-email.png") no-repeat 0 0/contain;
}

main {
  padding-top: 52px;
}

.game_slider{height: 100%; overflow: hidden;}

.game_slider .slick-slide img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.game_slider img.bg{width: 100%;}

.game_slider .content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.game_slider .iconapp {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--green);
  font-size: 6.25vw;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.game_slider .iconapp img {
  width: 17.1875vw;
  max-width: 110px;
  display: block;
  margin-right: 3.4375vw;
}

.game_slider .download {
  position: absolute;
  bottom: 5vw;
  right: 7.03125vw;
  z-index: 2;
}

.game_slider .download a {
  width: 18.90625vw;
  height: 5.625vw;
  display: block;
  text-indent: -9999em;
}

.game_slider .download > * + * {
  margin-top: 0.9375vw;
}

.game_slider .download .appstore {
  background: url("../img/website/appstore.png") no-repeat 0 0/contain;
}

.game_slider .download .googleplay {
  background: url("../img/website/googleplay.png") no-repeat 0 0/contain;
}

.game_slider .game_info {
  width: -webkit-calc(100% - 30px);
  width: -moz-calc(100% - 30px);
  width: calc(100% - 30px);
  padding: 3.90625vw;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 15px;
  bottom: 5px;
}

.game_slider .game_info:after {
  content: "";
  width: 0;
  height: 0;
  display: none;
  border-bottom: 202px solid rgba(0, 0, 0, 0.7);
  border-right: 135px solid transparent;
  position: absolute;
  top: 0;
  right: -135px;
}

.game_slider .game_info .game_name {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 47px;
  color: #4dc669;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.game_slider .game_info .des {
  color: #9a9a9e;
  font-size: var(--size17);
}

.game_slider .btn_play {
  width: 47.34375vw;
  height: 11.25vw;
  padding: 0 3.90625vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 7.03125vw;
  background: var(--green);
  text-transform: uppercase;
  color: #fff;
  font-size: 4.6875vw;
  overflow: hidden;
  z-index: 2;
}

.game_slider .btn_play:hover:after {
  opacity: 1;
  -webkit-transform: rotate(45deg) scale(6);
  -moz-transform: rotate(45deg) scale(6);
  -ms-transform: rotate(45deg) scale(6);
  -o-transform: rotate(45deg) scale(6);
  transform: rotate(45deg) scale(6);
}

.game_slider .btn_play:after {
  content: "";
  width: 100%;
  height: 100%;
  background: #59954c;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(45deg) scale(1);
  -moz-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  -o-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  -webkit-transition: all 0.25s linear 0s;
  -o-transition: all 0.25s linear 0s;
  -moz-transition: all 0.25s linear 0s;
  transition: all 0.25s linear 0s;
  opacity: 0;
}

.game_slider .btn_play span:after {
  content: "";
  width: 9.6875vw;
  height: 1.25vw;
  display: block;
  margin-left: 3.125vw;
  background: url("../img/website/arr.png") no-repeat 0 0/contain;
}

.game_slider .btn_play span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  white-space: nowrap;
  z-index: 2;
}

.game_slider .box-download {
  position: absolute;
  left: 50px;
  bottom: 235px;
}

.game_slider .slick-arrow {
  width: 66px;
  height: 66px;
  top: 45%;
  background: url("../img/website/arr2.png") no-repeat;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  -moz-transition: .3s linear;
  transition: .3s linear;
}

.game_slider .slick-arrow:hover {
  height: 67px;
  background: url("../img/website/arr1.png") no-repeat;
}

.game_slider .slick-next {
  right: 52px;
}

.game_slider .slick-prev {
  left: 52px;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.game_slider .slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 10px;
}

.game_slider .slick-dots li {
  margin: 0 4px;
}

.game_slider .slick-dots button {
  padding: 0;
  width: 15px;
  height: 15px;
  background: #ccc;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: none;
  font-size: 0;
}

.game_slider .slick-dots .slick-active button {
  background: var(--green);
}

.topgame {
  display: none;
  margin-top: 40px;
  padding: 10px 0;
}

.topgame_list{

}

.topgame .swiper-slide {

  padding: 0 10px;
  text-align: center;
}

.topgame .game_img{padding-bottom: 100%; position: relative;}
.topgame .game_img img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.topgame .swiper-slide:hover a {
  color: var(--green);
}

.topgame .swiper-slide {

}

.topgame .game_name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 56px;
  margin: 5px 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.3;
  text-transform: uppercase;
}

.topgame .game_img {
  display: block;
  margin: 0 auto;
}

.topgame .number_play {
  color: #6e6e6e;
  font-size: 10px;
}

.topgame .number_play .icon {
  width: 11px;
  height: 15px;
  margin-right: 4px;
  background-position: -67px -1px;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}

.topgame a {
  color: var(--grayis);
  font-size: 14px;
  -webkit-transition: .25s;
  -o-transition: .25s;
  -moz-transition: .25s;
  transition: .25s;
}

.topgame a:focus {
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.topgame .swiper-button {
  width: 62px;
  height: 8px;
  top: -55px;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  background: url("../img/website/next.png") no-repeat;
}

.topgame .swiper-button-next {
  right: 0px;
}

.topgame .swiper-button-prev {
  left: 10px;
  -webkit-transform: translateY(0) rotate(180deg);
  -moz-transform: translateY(0) rotate(180deg);
  -ms-transform: translateY(0) rotate(180deg);
  -o-transform: translateY(0) rotate(180deg);
  transform: translateY(0) rotate(180deg);
}

.newgame {

  margin-top: 60px;
}

.newgame .content {
  padding: 15px;
  border: 1px solid #d2d2d2;
  box-shadow: 0 1px 0 #d2d2d2;
}

.newgame .item {
  width: 20%;
  -webkit-transition: margin-top .2s linear;
  -o-transition: margin-top .2s linear;
  -moz-transition: margin-top .2s linear;
  transition: margin-top .2s linear;
}

.newgame .item:hover h3 a {
  color: var(--green);
}

.newgame .iconapp {
  width: 70px;
  position: absolute;
  left: 15px;
  bottom: 10px;
  z-index: 3;
}

.newgame .game_img {
  display: block;
  padding-bottom: 126%;
  position: relative;
}

.newgame .game_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.newgame .box_img:after {
  content: "";
  width: 100%;
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
}

.newgame .slick-slide {
  padding: 0 15px;
}

.newgame h3 {
  display: flex;
  align-items: center;
  min-height: 51px;
  margin-bottom: 5px;
  font-size: inherit;
}

.newgame h3 a {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  color: #000;
  text-transform: capitalize;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}
.newgame .slick-arrow{display: none !important;}

.newgame p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 105px;
  margin-bottom: 1.4rem;
  font-size: 15px;
}

.newgame .btn_play {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 150px;
  height: 37px;
  background: var(--green);
  font-size: 20px;
  color: #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.newgame .btn_play:after {
  content: "";
  width: 16px;
  height: 11px;
  display: inline-block;
  margin-left: 15px;
  background: url("../img/website/arr7.png") no-repeat 0 0/contain;
}

.highlightgame h2.title {
  margin-top: 60px;
}

.highlightgame .item {
  width: 25%;
  overflow: hidden;
}

.highlightgame .item:hover .name {
  -webkit-transform: translateX(100px);
  -moz-transform: translateX(100px);
  -ms-transform: translateX(100px);
  -o-transform: translateX(100px);
  transform: translateX(100px);
  opacity: 0;
  letter-spacing: 100px;
}

.highlightgame .item:hover .des {
  -webkit-transform: translateY(200px);
  -moz-transform: translateY(200px);
  -ms-transform: translateY(200px);
  -o-transform: translateY(200px);
  transform: translateY(200px);
  opacity: 0;
}

.highlightgame .item:hover .game_btn {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  visibility: visible;
}

.highlightgame .item:hover .img_box:after {
  opacity: 0;
}

.highlightgame .item:hover .img_box img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.highlightgame .img_box {
  display: block;
  padding-bottom: 150%;
  position: relative;
  overflow: hidden;
}

.highlightgame .img_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  -moz-transition: all .6s ease;
  transition: all .6s ease;
}

.highlightgame .img_box:after {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  -moz-transition: all .6s ease;
  transition: all .6s ease;
}

.highlightgame .img_box:after, .highlightgame .content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.highlightgame .des {
  color: #c7c7c7;
  line-height: var(--lh24);
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  -moz-transition: all .6s ease;
  transition: all .6s ease;
}

.highlightgame .name {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 33px;
  text-transform: capitalize;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  -moz-transition: all .6s ease;
  transition: all .6s ease;
}

.highlightgame .name:before {
  content: "";
  width: 60px;
  height: 2px;
  display: block;
  margin-bottom: 5px;
  background: var(--green);
}

.highlightgame .content {
  padding: 30px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  z-index: 2;
}

.game_btn {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  -moz-transition: .3s linear;
  transition: .3s linear;
  z-index: 5;
}

.game_btn > * + * {
  margin-top: 20px;
}

.game_btn a {
  width: 238px;
  height: 48px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: rgba(77, 198, 105, 0.9);
  font-weight: 500;
  font-size: 21px;
  color: #fff;
  text-transform: capitalize;
  -webkit-transition: .25s;
  -o-transition: .25s;
  -moz-transition: .25s;
  transition: .25s;
  position: relative;
}

.game_btn a:hover {
  background: #4dc669;
}

.game_btn a:last-child {
  background: rgba(66, 103, 178, 0.9);
}

.game_btn a:last-child:hover {
  background: #4267b2;
}

.game_btn .icon-face {
  width: 11px;
  height: 21px;
  background-position: -98px -1px;
  position: absolute;
  left: 15px;
}

.newsgame {
  display: none;
  margin-top: 60px;
}

.newsgame h2.title {
  margin: 0 0 12px;
}

.newsgame h3 {
  margin-bottom: 0;
  line-height: 1;
}

.newsgame h3 a {
  display: block;
  color: #5a5a5a;
  font-weight: 500;
  font-size: 18px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.newsgame .img-news {
  display: block;
  width: 25.9375vw;
  height: 14.6875vw;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  position: relative;
  overflow: hidden;
}

.newsgame .img-news img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.newsgame .content {
  width: -webkit-calc(100vw - 25.9vw);
  width: -moz-calc(100vw - 25.9vw);
  width: calc(100vw - 25.9vw);
  padding-left: 15px;
}

.newsgame .post {
  width: 100%;
  padding: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid var(--green);
  position: relative;
}

.newsgame .post p {
  margin: 20px 0 10px;
  font-size: 18px;
  color: var(--grayis);
  line-height: var(--lh24);
}

.newsgame .post .line {
  width: 60px;
  height: 1px;
  display: block;
  margin-bottom: 5px;
  background: #949494;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}

.newsgame .post time {
  display: block;
  margin-top: 3px;
  color: #949494;
  font-size: 16px;
}

.newsgame .post:hover .img-news {
  border: 2px solid var(--green);
}

.newsgame .post:hover .img-news img {
  -webkit-transform: scale(1.06);
  -moz-transform: scale(1.06);
  -ms-transform: scale(1.06);
  -o-transform: scale(1.06);
  transform: scale(1.06);
}

.newsgame .post:hover .line {
  width: 100%;
  background: var(--green);
}

.newsgame .post:hover time {
  color: #363636;
}

.newsgame_tab {
  padding-bottom: 2px;
  margin-bottom: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 1px solid #d2d2d2;
}

.newsgame_tab a {
  font-weight: 500;
  font-size: 18px;
  color: #949494;
  text-transform: uppercase;
  position: relative;
}

.newsgame_tab li:hover a, .newsgame_tab li.active a {
  color: var(--grayis);
}

.newsgame_tab li.active a:after {
  content: "";
  width: 90%;
  height: 2px;
  background: var(--green);
  position: absolute;
  left: -10px;
  bottom: -5px;
}

.newsgame_tab li {
  margin: 0 15px;
}

.newsgame .btn_view {
  width: 55px;
  height: 8px;
  background: url("../img/website/arr4.png") no-repeat;
  position: absolute;
  bottom: 25px;
  right: 15px;
}

.bottom {
  display: none;
  margin-top: 60px;
  padding: 0 15px;
}

.bottom .recruitment {
  min-width: 26.3020833333vw;
  width: 100%;
}

.bottom .recruitment h2.title {
  margin-bottom: 10px;
}

.bottom .social {
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.bottom .social li {
  margin: 0 12px;
}

.recruitment .info {
  margin-top: 15px;
}

.recruitment .info li:nth-child(2) {
  margin: 5px 18px;
}

.recruitment .info li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #949494;
}

.recruitment .post {
  padding: 17px 0 12px;
  border-bottom: 1px solid #c6c4d7;
}

.recruitment .post:last-child {
  border-bottom: none;
}

.recruitment_filter {
  margin-bottom: 50px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.recruitment_filter .filter {
  width: 48%;
}

.recruitment_filter h5 {
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--grayis);
  font-size: 19px;
}

.recruitment_filter select {
  width: 100%;
  height: 58px;
  padding: 0 22px;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #999;
  font-size: 19px;
}

.recruitment_filter select option::-moz-selection {
  text-transform: uppercase;
}

.recruitment_filter select option::selection {
  text-transform: uppercase;
}

.recruitment_filter select:focus {
  outline: none;
}

.recruitment h3 {
  margin-bottom: 2px;
  padding-right: 115px;
}

.recruitment h3 a {
  font-weight: 500;
  font-size: 20px;
  color: #5a5a5a;
}

.recruitment h3 a:hover {
  color: var(--green);
}

.recruitment .address {
  color: #949494;
  font-size: 20px;
  line-height: 1;
}

.recruitment .icon {
  margin-right: 7px;
}

.recruitment .icon-time {
  width: 19px;
  height: 19px;
  background-position: -55px -36px;
}

.recruitment .icon-lfc {
  width: 22px;
  height: 19px;
  background-position: -77px -35px;
}

.recruitment .icon-salary {
  width: 28px;
  height: 16px;
  background-position: -55px -57px;
}

.recruitment .icon-address {
  width: 13px;
  height: 19px;
  background-position: -102px -37px;
}

.recruitment .btn_apply {
  padding: 4px 18px;
  position: absolute;
  right: 0;
  top: 27px;
  line-height: 1;
  font-size: 18px;
  color: #fff;
  background: #949494;
}

.recruitment .btn_apply:hover {
  background: var(--green);
}

.recruitment .btn_viewmore {
  margin-top: 40px;
}

.recruitment_shg > * + * {
  margin-top: 22px;
}

.recruitment_shg .post {
  padding: 24px;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.recruitment_shg .post:last-child {
  border: 1px solid #ccc;
}

.recruitment_shg h3 a {
  font-size: 28px;
}

.recruitment_shg .btn_apply {
  padding: 19px 27px;
  background: none;
  color: var(--green);
  border: 1px solid var(--green);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  right: 24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.recruitment_shg .btn_apply:hover {
  color: #fff;
}

.recruitment_post {
  width: 100%;
  font-size: 16px;
}

.recruitment_post .btn_back {
  color: var(--green);
  font-size: 16px;
}

.recruitment_post h2.title {
  margin: 15px 0;
  font-weight: 500;
  font-size: 28px;
  text-align: left;
  text-transform: none;
}

.recruitment_post .email {
  margin-bottom: 25px;
}

.recruitment_post .email a, .recruitment_post h4 {
  font-weight: 700;
  color: var(--grayis);
  font-size: 18px;
}

.recruitment_post h4 {
  margin-bottom: 10px;
}

.recruitment_info {
  width: 30%;
  margin-top: 170px;
}

.recruitment_info h4 {
  font-weight: 500;
  font-size: 30px;
  color: var(--grayis);
}

.recruitment_info p {
  margin-bottom: 0;
  padding: 15px 0;
  border-top: 1px solid #c6c4d7;
  font-size: 20px;
}

.recruitment_info p span {
  font-weight: 500;
}

.recruitment_search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 20px;
}

.recruitment_search input {
  width: -webkit-calc(100% - 115px);
  width: -moz-calc(100% - 115px);
  width: calc(100% - 115px);
  height: 40px;
  padding: 0 15px;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #333;
}

.recruitment_search input::-webkit-input-placeholder {
  color: #999;
}

.recruitment_search input::-moz-placeholder {
  color: #999;
}

.recruitment_search input:-ms-input-placeholder {
  color: #999;
}

.recruitment_search input::placeholder {
  color: #999;
}

.recruitment_search .btn_submit {
  width: 100px;
  height: 40px;
  margin-left: 15px;
  border: 1px solid var(--green);
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: var(--green);
}

.recruitment_search .btn_submit:hover {
  background: var(--green);
  color: #fff;
}

.recruitment table {
  width: 100%;
}

.recruitment table h4 {
  padding-right: 15px;
}

.recruitment table h4, .recruitment table h5, .recruitment table span {
  font-size: 20px;
}

.recruitment table h5, .recruitment table span {
  color: #999;
}

.recruitment table h5 {
  margin-bottom: 20px;
}

.recruitment table h4 {
  color: #292929;
}

.recruitment table th {
  padding-bottom: 8px;
  color: #292929;
  font-weight: 500;
  font-size: 20px;
  white-space: nowrap;
}

.recruitment table thead tr {
  border-bottom: 1px solid #d2d2d2;
}

.recruitment table tbody td {
  padding: 15px 0;
}

.recruitment table tbody tr {
  border-bottom: 1px solid #d2d2d2;
}

.recruitment .btn_recruitment {
  display: block;
  width: 100%;
  min-width: 100px;
  height: 38px;
  text-align: center;
  border: 1px solid var(--green);
  color: var(--green);
  font-size: 17px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  white-space: nowrap;
  line-height: 36px;
}

.recruitment .btn_recruitment:hover {
  background: var(--green);
  color: #fff;
}

.support {
  width: 83.90625vw;
  height: 77.96875vw;
  padding-top: 50.78125vw;
  margin: 40px auto;
  background: url("../img/website/hotline.png") no-repeat 0 0/contain;
  text-align: center;
}

.support > * {
  line-height: 1;
}

.support h5 {
  margin-bottom: 4px;
  font-size: 7.5vw;
  color: var(--green);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.support a {
  display: block;
  color: var(--green);
}

.support .hotline {
  margin-bottom: 5px;
  font-size: 10.46875vw;
  letter-spacing: 4px;
}

.support .email {
  font-size: 4.53125vw;
  font-weight: 300;
}

.shg_title {
  width: 100%;
  height: 18.75vw;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -moz-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  background: url("../img/website/bg_category.jpg") no-repeat 50% 0;
  overflow: hidden;
}

.shg_title h1 {
  margin: 0 0 -2.8vw;
  font-size: 9.375vw;
  color: #fff;
  font-family: BrandonText-Bold, san-serif;
  text-transform: uppercase;
  line-height: 1;
  position: relative;
}

.shg_title h1.sm {
  font-size: 9.375vw;
}

.shg_title h1.lg {
  margin-bottom: -3.8vw;
  font-size: 12.96875vw;
}

.shg_title h1:before {
  content: "";
  width: 7.8125vw;
  height: 6px;
  display: inline-block;
  background: var(--green);
}

.shg_title h1.recruitment_title:after {
  left: 48.75vw;
}

.shg_title h1.cooperate_title:after {
  left: 17.5vw;
}

.shg_title h1.dot:after {
  content: ".";
  position: absolute;
  color: #323639;
  bottom: -0.9375vw;
}

.shg_games .game_item {
  width: 50%;
  padding: 10px;
}

.shg_games .game_item .detail {
  width: -webkit-calc(100% - 20px);
  width: -moz-calc(100% - 20px);
  width: calc(100% - 20px);
  height: -webkit-calc(100% - 20px);
  height: -moz-calc(100% - 20px);
  height: calc(100% - 20px);
  background: url("../img/website/gradient.png") no-repeat bottom center;
  padding: 0 20px;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0;
}

.shg_games .game_item .name, .shg_games .game_item p, .shg_games .game_item .detail {
  -webkit-transition: all .6s ease;
  -o-transition: all .6s ease;
  -moz-transition: all .6s ease;
  transition: all .6s ease;
}

.shg_games .game_item .name {
  margin-top: 8px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.shg_games .game_item h3 a {
  color: #292929;
  font-weight: 500;
  font-size: 16px;
}

.shg_games .game_item .name:after {
  content: "";
  width: 40px;
  height: 3px;
  display: block;
  margin: 8px 0 2px;
  background: var(--green);
}

.shg_games .game_item .img_box {
  display: block;
  padding-bottom: 150%;
  position: relative;
  overflow: hidden;
}

.shg_games .game_item .img_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.shg_games .game_item .btn_play {
  width: 100%;
  padding: 5px 20px;
  display: block;
  margin-top: 15px;
  color: var(--green);
  border: 1px solid var(--green);
  font-size: 20px;
  position: relative;
}

.shg_games .game_item .btn_play:after {
  content: "";
  width: 16px;
  height: 11px;
  background: url("../img/website/arr3_hover.png") no-repeat;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 20px;
}

.shg_games .game_item .btn_play:hover {
  background: var(--green);
  color: #fff;
}

.shg_games .game_item .btn_play:hover:after {
  background: url("../img/website/arr7.png") no-repeat 0 0/contain;
}

.shg_games .game_btn {
  margin-top: -25px;
}

.shg_games .game_btn > * + * {
  margin-top: 15px;
}

.shg_games .game_btn a {
  width: 193px;
  height: 40px;
}

.category_tab {
  margin-bottom: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 1px solid #d2d2d2;
}

.category_tab li {
  margin: 0 15px;
}

.category_tab a {
  color: #868686;
  font-weight: 500;
  font-size: 19px;
  text-transform: uppercase;
}

.category_tab li.active a:after {
  content: "";
  width: 62px;
  height: 3px;
  display: block;
  margin: 0 0 0 -6px;
  background: var(--green);
}

.category_tab li.active a, .category_tab li:hover a {
  color: var(--grayis);
}

.news {
  margin: 0 auto;
}

.news_list .post {
  padding: 15px;
  border-bottom: 1px solid var(--green);
  position: relative;
}

.news_list .post:hover h3 a {
  color: var(--green);
}

.news_list > * + * {
  border-top: 1px solid #f1f1f1;
}

.news_list h3 {
  margin-bottom: 0;
  line-height: 1;
}

.news_list h3 a {
  display: block;
  color: #5a5a5a;
  font-weight: 500;
  font-size: 18px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.news_list .img-news {
  display: block;
  width: 25.9375vw;
  height: 14.6875vw;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
  position: relative;
  overflow: hidden;
}

.news_list .img-news img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  -moz-transition: .3s;
  transition: .3s;
}

.news_list .detail {
  width: -webkit-calc(100vw - 36vw);
  width: -moz-calc(100vw - 36vw);
  width: calc(100vw - 36vw);
  padding-left: 15px;
}

.news_list p {
  font-size: 18px;
  line-height: 25px;
  color: #8f8f8f;
}

.news_list time {
  display: block;
  margin-top: 3px;
  color: #949494;
  font-size: 16px;
}

.news_detail .detail {
  margin-top: 15px;
  padding-top: 30px;
  border-top: 1px solid #f1f1f1;
  font-size: 16px;
}

.news_detail time {
  display: block;
  color: #444;
  font-size: 18px;
}

.news_detail img {
  display: block;
  margin: 10px auto 20px;
  max-width: 80%;
}

.news .share {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.news .share h5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  color: #525252;
}

.news .share h5:before {
  content: "";
  width: 20px;
  height: 2px;
  display: block;
  margin-right: 18px;
  background: var(--green);
}

.news .share .btn_share {
  width: 35px;
  height: 35px;
  display: block;
  text-indent: -9999em;
  margin-left: 28px;
  background: url("../img/website/icons.png") no-repeat -112px 0;
  -webkit-transition: 0s;
  -o-transition: 0s;
  -moz-transition: 0s;
  transition: 0s;
}

.news .share .btn_share:hover {
  background: url("../img/website/icons.png") no-repeat -148px 0;
}

.news .page_title {
  width: 100%;
  margin: 0 auto 10px;
  font-weight: 700;
  font-size: 20px;
  color: #444444;
  text-transform: uppercase;
  line-height: 1.2;
}

.news a {
  -webkit-transition: .25s;
  -o-transition: .25s;
  -moz-transition: .25s;
  transition: .25s;
}

.news .img-news {
  display: block;
  overflow: hidden;
}

.news img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}

.news .btn_back {
  padding-left: 32px;
  background: url("../img/website/arr5.png") no-repeat left center;
  color: var(--green);
  font-size: 20px;
  position: relative;
}

.news .btn_back:before {
  content: "";
  width: 3px;
  height: 40px;
  background: var(--green);
  position: absolute;
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.news .btn_view {
  width: 55px;
  height: 8px;
  background: url("../img/website/arr4.png") no-repeat;
  position: absolute;
  bottom: 25px;
  right: 15px;
}

.shg_about h2.title {
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 36px;
  color: var(--green);
  text-transform: uppercase;
  text-align: left;
}

.shg_about .intro {
  width: 59.5%;
  padding-right: 50px;
}

.shg_about .intro h4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
  font-size: 23px;
  text-transform: uppercase;
  color: var(--grayis);
  position: relative;
}

.shg_about .intro h4:after {
  content: "";
  width: 117px;
  height: 1px;
  background: var(--green);
  position: absolute;
  bottom: 8px;
  left: 58px;
}

.shg_about .intro p {
  margin-bottom: 1.3rem;
  font-size: 18px;
  color: var(--grayis);
}

.shg_about .intro .icon {
  margin-right: 15px;
}

.shg_about .intro .icon-overview {
  width: 55px;
  height: 55px;
  background-position: -72px -263px;
}

.shg_about .intro .icon-vision {
  width: 49px;
  height: 59px;
  background-position: -131px -255px;
}

.shg_about .slider_img_shg {
  width: 40.5%;
}

.shg_about .slick-arrow {
  width: 35px;
  height: 31px;
  background: rgba(161, 161, 161, 0.8) url("../img/website/arr6.png") no-repeat center center;
}

.shg_about .slick-arrow:hover {
  background: var(--green) url("../img/website/arr6.png") no-repeat center center;
}

.shg_about .slick-next {
  right: 0;
}

.shg_about .slick-prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}

.shg_history h4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
  font-size: 23px;
  text-transform: uppercase;
  color: var(--grayis);
  position: relative;
}

.shg_history h4:after {
  content: "";
  width: 117px;
  height: 1px;
  background: var(--green);
  position: absolute;
  bottom: 8px;
  left: 58px;
}

.shg_history .icon {
  margin-right: 15px;
}

.shg_history .icon-hs {
  width: 49px;
  height: 55px;
  background-position: -70px -320px;
}

.shg_timeline {
  margin: 60px 0;
  padding: 0 30px 0;
  border-top: 1px solid var(--green);
}

.shg_timeline .slick-list {
  padding-top: 7px;
  margin-top: -8px;
}

.shg_timeline time, .shg_timeline h5 {
  font-weight: 700;
  font-size: 18px;
  color: var(--grayis);
}

.shg_timeline h5 {
  margin: 20px 0 5px;
  text-transform: uppercase;
}

.shg_timeline p {
  max-width: 300px;
  font-size: 15px;
  color: #a1a1a1;
}

.shg_timeline li {
  padding: 15px 15px 0;
  border-top: 1px solid var(--green);
  position: relative;
}

.shg_timeline li:before {
  content: "";
  width: 11px;
  height: 11px;
  background: var(--green);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: -6px;
  left: 15px;
}

.shg_timeline .slick-arrow {
  width: 37px;
  height: 37px;
  background: var(--green) url("../img/website/arr6.png") no-repeat center center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  top: -95px;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.shg_timeline .slick-next {
  left: -webkit-calc(50% + 25px);
  left: -moz-calc(50% + 25px);
  left: calc(50% + 25px);
}

.shg_timeline .slick-prev {
  -webkit-transform: translateY(0) rotate(180deg);
  -moz-transform: translateY(0) rotate(180deg);
  -ms-transform: translateY(0) rotate(180deg);
  -o-transform: translateY(0) rotate(180deg);
  transform: translateY(0) rotate(180deg);
  left: -webkit-calc(50% - 60px);
  left: -moz-calc(50% - 60px);
  left: calc(50% - 60px);
}

.cooperate h2.title {
  margin-bottom: 20px;
  text-transform: none;
  text-align: left;
  font: 42px;
}

.cooperate_form {
  width: 100%;
  font-size: 20px;
}

.cooperate .form-group {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  border-bottom: 1px solid #bbb;
}

.cooperate .form-group.fl {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.cooperate label {
  display: block;
  margin-bottom: 0;
  color: #949494;
  white-space: nowrap;
}

.cooperate input, .cooperate textarea {
  width: 100%;
  height: 28px;
  padding: 0 15px;
  border: none;
  color: #292929;
}

.cooperate input:focus, .cooperate textarea:focus {
  outline: none;
}

.cooperate textarea {
  padding: 15px 0;
}

.cooperate textarea {
  height: 120px;
}

.cooperate .btn_submit {
  width: 177px;
  height: 46px;
  background: #fff;
  border: 1px solid var(--green);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  color: var(--green);
  font-size: 19px;
  cursor: pointer;
  float: right;
}

.cooperate .btn_submit:hover {
  background: var(--green);
  color: #fff;
}

.cooperate_info {
  width: 100%;
}

.cooperate .map {
  margin-top: 70px;
  border: 1px solid #eeeeee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.cooperate .map iframe {
  width: 100%;
  height: 360px;
}

.cooperate .map p {
  padding: 15px;
  margin-bottom: 0;
  font-size: 12px;
}

.cooperate .info {
  margin-top: 30px;
  font-size: 18px;
}

.cooperate .info a {
  color: var(--grayis);
  font-size: 18px;
}

.cooperate .info span, .cooperate .info h5 {
  font-weight: 700;
}

.cooperate .social {
  margin-top: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cooperate .social li {
  margin: 0 10px;
}

.guide_tab {
  width: 100%;
  margin-bottom: 30px;
  overflow: auto;
}

.guide_tab a {
  color: var(--grayis);
  font-size: 20px;
}

.guide_tab li.active a {
  color: var(--green);
  font-weight: 500;
}

.guide_tab li:hover a {
  color: var(--green);
}

.guide_content {
  width: 100%;
}

.guide_menu {
  padding: 5px 0 30px 20px;
}

.guide_menu > * + * {
  margin-top: 5px;
}

.guide_menu a {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.1;
  color: var(--green);
}

.guide_menu a:hover {
  text-decoration: underline;
}

.guide .shg_answer {
  padding: 15px 0;
  border-top: 1px solid #ededed;
}

.guide .shg_answer h5 {
  font-weight: 700;
  font-size: 18px;
  color: var(--green);
}

.guide .shg_answer p {
  margin-bottom: 5px;
  font-size: 18px;
}

.guide h2.title {
  margin-bottom: 55px;
  border-bottom: 1px solid #bbbbbb;
  text-align: center;
  line-height: 1;
}

.guide h2.title span {
  display: inline-block;
  padding-bottom: 12px;
  border-bottom: 3px solid var(--green);
}

.guide h4 {
  font-weight: 700;
  font-size: 20px;
  color: var(--grayis);
}

.rules h2.title {
  font-size: 22px;
  line-height: 1.2;
}

.rules article {
  margin-top: 30px;
  font-size: 18px;
}

.rules h3, .rules h4 {
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 18px;
}

.rules h3 {
  text-transform: uppercase;
}

footer {
  margin-top: 60px;
  padding: 40px 5px 35px;
  background: #282b2d;
  text-align: center;
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  position: relative;
}

footer a{color: #fff;}
footer a:hover{color: var(--green);}

footer .logo_f {
  width: 135px;
  display: block;
  margin: 0 auto;
}

footer .menu_f {
  margin: 20px 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer .menu_f li {
  margin: 0 8px;
}

footer .menu_f a {
  color: #fff;
  text-transform: capitalize;
  font-size: 15px;
  -webkit-transition: .25s;
  -o-transition: .25s;
  -moz-transition: .25s;
  transition: .25s;
}

footer .menu_f a:hover {
  color: #4dc669;
}

footer .contact_f {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 20px;
}

footer .contact_f a {
  width: 42px;
  height: 42px;
  display: block;
  margin: 0 8px;
  background: url("../img/website/icons.png") no-repeat 0 0;
}

footer .contact_f .btn_facebook {
  background-position: -49px -76px;
}

footer .contact_f .btn_facebook:hover {
  background-position: -93px -76px;
}

footer .contact_f .btn_yt {
  background-position: -51px -120px;
}

footer .contact_f .btn_yt:hover {
  background-position: -95px -120px;
}

footer .contact_f .btn_mail {
  background-position: -51px -164px;
}

footer .contact_f .btn_mail:hover {
  background-position: -96px -164px;
}

footer .contact_f .btn_phone {
  background-position: -72px -209px;
}

footer .contact_f .btn_phone:hover {
  background-position: -116px -209px;
}

.container_shg {
  max-width: 1450px;
  margin: 0 auto;
}

h2.title {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  font: 30px BrandonText-Medium, san-serif;
  text-transform: uppercase;
  color: var(--grayis);
}

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  border: none;
  font-size: 0;
  cursor: pointer;
  z-index: 2;
}

.slick-arrow.slick-disabled {
  display: none !important;
}

.slick-arrow:focus {
  outline: none;
}

.btn_viewmore {
  width: 242px;
  height: 40px;
  margin: 40px auto 0;
  border: 1px solid #c7c7c7;
  color: #949494;
  font-size: 22px;
  text-transform: capitalize;
  position: relative;
  overflow: hidden;
  transition: .3s;
}

.btn_viewmore:hover{background: var(--green);}

.btn_viewmore span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.btn_viewmore:before {
  content: "";
  width: 0;
  height: 100%;
  background: var(--green);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: width .2s ease-in;
  -o-transition: width .2s ease-in;
  -moz-transition: width .2s ease-in;
  transition: width .2s ease-in;
}

.btn_viewmore span:after {
  content: "+";
  margin: 2px 0 0 15px;
}

.btn_viewmore:hover {
  color: #fff;
  border: 1px solid transparent;
}

.btn_viewmore:hover:before {
  width: 0;
}

img {
  max-width: 100%;
}

button:focus {
  outline: none;
}



.skeleton__item:before,.skeleton1__item:before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  z-index: 1;
  width: 500%;
  margin-left: -250%;
  -webkit-animation: phAnimation .8s linear infinite;
  -moz-animation: phAnimation .8s linear infinite;
  -o-animation: phAnimation .8s linear infinite;
  animation: phAnimation .8s linear infinite;
  background: -webkit-gradient(linear, left top, right top, color-stop(46%, transparent), color-stop(50%, rgba(255, 255, 255, 0.35)), color-stop(54%, transparent)) 50% 50%;
  background: -webkit-linear-gradient(left, transparent 46%, rgba(255, 255, 255, 0.35) 50%, transparent 54%) 50% 50%;
  background: -o-linear-gradient(left, transparent 46%, rgba(255, 255, 255, 0.35) 50%, transparent 54%) 50% 50%;
  background: linear-gradient(to right, transparent 46%, rgba(255, 255, 255, 0.35) 50%, transparent 54%) 50% 50%;
}
.skeleton1{
  width: calc(100% - 0px);
  position: absolute; top: 80px;
}
.skeleton1.hidden{opacity: 0; visibility: hidden;}

.skeleton1 li{
  width: 33.33%;
  padding: 0 10px;
  position: relative;
  overflow: hidden;
}
.skeleton1__img{
  display: block;
  max-width: 196px;
  background: #dadada;
  border-radius: 10px;
  padding-bottom: 100%;
  margin: 0 auto;
  position: relative;
}
.skeleton1__play,.skeleton1__name{
  max-width: 196px;
  background: #dadada;
}
.skeleton1__name{
  width: 90%;
  height: 12px;
  border-radius: 4px;
  margin: 10px auto 15px;
}
.skeleton1__play{width: 50%; height: 5px; margin: 0 auto;}
.skeleton1 li:nth-child(n + 4):nth-child(-n + 6){display: none;}
.shg_h{height: 500px;}



@-webkit-keyframes phAnimation {
  0% {
    -webkit-transform: translate3d(-30%, 0, 0);
    transform: translate3d(-30%, 0, 0); }
  100% {
    -webkit-transform: translate3d(30%, 0, 0);
    transform: translate3d(30%, 0, 0); } }

@keyframes phAnimation {
  0% {
    -webkit-transform: translate3d(-30%, 0, 0);
    transform: translate3d(-30%, 0, 0); }
  100% {
    -webkit-transform: translate3d(30%, 0, 0);
    transform: translate3d(30%, 0, 0); }
}

@media (min-width: 767px) {
  .navbar-collapse .close {
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
  }
  .menu > li {
    padding: 15px 0;
  }
  .social a {
    width: 60px;
    height: 60px;
  }
  .game_slider{height: calc(102.77778vw + 0px);}
  .game_slider .btn_play {
    width: 300px;
    height: 70px;
    margin-top: 40px;
    padding: 0 20px;
    font-size: 30px;
  }
  .game_slider .btn_play span:after {
    width: 62px;
    height: 8px;
  }
  .game_slider .iconapp {
    font-size: 40px;
  }
  .game_slider .iconapp img {
    margin-right: 20px;
  }
  .support {
    width: 537px;
    height: 499px;
    padding-top: 325px;
  }
  .support h5 {
    font-size: 48px;
  }
  .support .hotline {
    font-size: 67px;
  }
  .support .email {
    font-size: 29px;
  }
  .shg_games .game_item {
    width: 33.3%;
  }
  .topgame .swiper-slide {
    padding: 0 15px;
  }
  .topgame .number_play {
    font-size: 13px;
  }
  .topgame .number_play .icon {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  .skeleton1 li{width: 25%;}
  .skeleton1 li:nth-child(n + 4):nth-child(-n + 6){display: block;}
  .skeleton1 li:nth-child(n + 5):nth-child(-n + 6){display: none;}
}

@media (min-width: 992px) {
  .navbar-toggler {
    display: block;
  }
}

@media (min-width: 1024px) {
  .shg_games .game_item {
    width: 25%;
  }
  .shg_title {
    height: 160px;
    margin-bottom: 60px;
  }
  .shg_title h1, .shg_title h1.sm {
    font-size: 80px;
    margin-bottom: -10px;
  }
  .shg_title h1.lg {
    font-size: 100px;
    margin-bottom: -14px;
  }
  .shg_title h1.dot:after {
    bottom: -6px;
  }
  .shg_title h1:before {
    width: 80px;
  }
  .shg_title h1.recruitment_title:after {
    left: 430px;
  }
  .shg_title h1.cooperate_title:after {
    left: 162px;
  }
  .skeleton1 li{width: 20%;}
  .skeleton1 li:nth-child(n + 6):nth-child(-n + 6){display: block;}
}

@media (orientation: landscape) {
  .shg_games .game_item {
    width: 33.3%;
  }
  .topgame .swiper-slide {
    padding: 0 15px;
  }
}

@media (max-width: 360px) {
  .navbar-collapse .logout {
    font-size: 16px;
  }
  .menu > li > a {
    font-size: 16px;
  }
  .topgame .game_name {
    min-height: 46px;
  }
  .topgame a {
    font-size: 13px;
  }
  .newgame .swiper-slide {
    padding: 0 10px;
  }
  .newgame .content {
    padding: 10px;
  }
  .newgame h3 a {
    font-size: 22px;
  }
  .newgame p {
    font-size: 14px;
  }
  .newsgame h3 a {
    font-size: 17px;
  }
  .newsgame .post time {
    font-size: 15px;
  }
  .recruitment h3, .recruitment h3 a {
    line-height: 1;
  }
  .recruitment h3 a {
    font-size: 18px;
  }
  .recruitment_search input {
    font-size: 16px;
  }
  .recruitment_search .btn_submit {
    font-size: 16px;
  }
  .recruitment table h4, .recruitment table h5, .recruitment table span {
    font-size: 16px;
  }
  .recruitment .btn_recruitment {
    font-size: 16px;
  }
  .category_tab li {
    margin: 0 10px;
  }
  .category_tab a {
    font-size: 16px;
  }
  .shg_games .game_item .btn_play {
    padding: 5px 10px;
  }
  .shg_games .game_item h3 a {
    font-size: 16px;
  }
  .news_list h3 a {
    font-size: 16px;
  }
  .news_list time {
    font-size: 15px;
  }
  h2.title {
    font-size: 26px;
  }
}
